# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Alerta del mode només HTTPS
about-httpsonly-title-connection-not-available = Connexió segura no disponible
about-httpsonly-title-site-not-available = Lloc segur no disponible
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Heu activat el «mode només HTTPS» per millorar la seguretat i no hi ha disponible la versió HTTPS de <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Quin motiu podria haver-hi?
about-httpsonly-explanation-nosupport = El més probable és que el lloc web no admeti HTTPS.
about-httpsonly-explanation-risk = També podria ser un intent d'atac. Si decidiu visitar el lloc web, no hi hauríeu d’introduir informació confidencial com ara contrasenyes, adreces electròniques o targetes de crèdit.
about-httpsonly-explanation-continue = Si continueu, el mode només HTTPS es desactivarà temporalment per a este lloc.
about-httpsonly-button-continue-to-site = Vés al lloc HTTP
about-httpsonly-button-go-back = Vés arrere
about-httpsonly-link-learn-more = Més informació…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Possible alternativa
about-httpsonly-suggestion-box-www-text = Hi ha una versió segura de <em>www.{ $websiteUrl }</em>. Podeu visitar esta pàgina en lloc de <em>{ $websiteUrl }<em>.
about-httpsonly-suggestion-box-www-button = Vés a www.{ $websiteUrl }
