# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Deneysel CSS Masonry Layout desteğini etkinleştirir. Bu özellik hakkında daha detaylı bilgi için <a data-l10n-name="explainer">anlatıcıya</a> bakabilirsiniz. Geri bildirimde bulunmak için <a data-l10n-name="w3c-issue">GitHub’daki bu soruna</a> veya <a data-l10n-name="bug">bu bug’a</a> yorum yapabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Bu yeni API, kullanıcının cihazının veya bilgisayarının <a data-l10n-name="wikipedia">grafik işlem birimi (GPU)</a> kullanılarak hesaplama ve grafik oluşturma için düşük seviyeli destek sağlar. <a data-l10n-name="spec">Şartname</a> çalışmaları halen devam etmektedir. Ayrıntılar için <a data-l10n-name="bugzilla">bug 1602129</a>'a bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Bu özellik etkinleştirildiğinde { -brand-short-name } AV1 Görüntü Dosyası (AVIF) biçimini destekler. AVIF, görüntü boyutunu küçültmek için AV1 video sıkıştırma algoritmalarının yeteneklerinden yararlanan hareketsiz bir görüntü dosyası biçimidir. Ayrıntılar için <a data-l10n-name="bugzilla">bug 1443863</a>'e bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Ortam: JPEG XL
experimental-features-media-jxl-description = Bu özellik etkinleştirildiğinde { -brand-short-name } uygulaması JPEG XL (JXL) biçimini destekler. Bu, geleneksel JPEG dosyalarından kayıpsız çevirmeyi destekleyen gelişmiş bir resim dosyası biçimidir. Daha fazla bilgi için <a data-l10n-name="bugzilla">bug 1539075</a>'e bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = <a data-l10n-name="mdn-inputmode">inputmode</a> genel özniteliği uygulamamız <a data-l10n-name="whatwg">WHATWG şartnamesi</a> uyarınca güncellendi ama hâlâ yapmamız gereken bazı değişiklikler var (örn. bu özniteliği contenteditable içeriğinde kullanılabilir hale getirmek). Daha fazla bilgi için <a data-l10n-name="bugzilla">bug 1205133</a>’e bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> arayüzüne bir constructor’ın eklenmesi ve bununla ilgili çeşitli değişiklikler, yeni stil dosyalarını HTML’e eklemeye gerek kalmadan oluşturmayı mümkün kılıyor. Bu da <a data-l10n-name="mdn-shadowdom">Shadow DOM</a> ile yeniden kullanılabilen stil dosyaları oluşturmayı kolaylaştırıyor. Daha fazla bilgi için <a data-l10n-name="bugzilla">bug 1520690</a>’a bakabilirsiniz.
experimental-features-devtools-color-scheme-simulation =
    .label = Geliştirici Araçları: Renk Şeması Simülasyonu
experimental-features-devtools-color-scheme-simulation-description = <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> media sorgularını denemek için farklı renk şemalarının simülasyonunu yapmanızı sağlayan bir seçenek ekler. Bu media sorgusunu kullanmak, stil dosyanızın kullanıcının açık veya koyu kullanıcı arayüzü tercihine göre değişmesini sağlar. Bu özellik, tarayıcınızın (veya tarayıcınız işletim sisteminin renk şeması ayarını kullanıyorsa işletim sisteminin) ayarlarını değiştirmeye gerek kalmadan kodunuzu test etmenize olanak tanır. Detaylı bilgi için <a data-l10n-name="bugzilla1">bug 1550804</a>’e ve <a data-l10n-name="bugzilla2">bug 1137699</a>’a bakabilirsiniz.
experimental-features-devtools-execution-context-selector =
    .label = Geliştirici Araçları: Execution Context Selector
experimental-features-devtools-execution-context-selector-description = Bu özellik, konsol komut satırında, girdiğiniz ifadenin çalıştırılacağı bağlamı değiştirmenizi sağlayacak bir düğme gösterir. Daha fazla bilgi için <a data-l10n-name="bugzilla1">bug 1605154</a>’e ve <a data-l10n-name="bugzilla2">bug 1605153</a>’e bakabilirsiniz.
experimental-features-devtools-compatibility-panel =
    .label = Geliştirici Araçları: Uyumluluk Paneli
experimental-features-devtools-compatibility-panel-description = Sayfa Denetçisi için, uygulamanızın tarayıcılar arası uyumluluk durumunu ayrıntılı olarak gösteren yan panel. Daha fazla bilgi için bkz. <a data-l10n-name="bugzilla">bug 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Çerezler: Varsayılan olarak SameSite=Lax
experimental-features-cookie-samesite-lax-by-default2-description = Hiçbir “SameSite” özniteliği belirtilmemişse çerezleri “SameSite=Lax” olarak değerlendirir. Geliştiricilerin şu anda yaygın uygulama olan sınırsız kullanımı sürdürmek için “SameSite=None” şeklinde özellikle belirtmeleri gerekir.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Çerezler: SameSite=None, secure özniteliği gerektirsin
experimental-features-cookie-samesite-none-requires-secure2-description = “SameSite=None” özniteliğine sahip çerezler secure özniteliği gerektirir. Bu özellik “Çerezler: Varsayılan olarak SameSite=Lax” deneyini gerektirir.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home başlangıç önbelleği
experimental-features-abouthome-startup-cache-description = Başlangıçta varsayılan olarak yüklenen about:home belgesi için önbellek. Bu önbelleğin amacı, başlangıç performansını artırmaktır.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Çerezler: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Aynı alan adındaki ancak farklı şemadaki sitelerin (örn. http://example.com ve https://example.com) çerezlerini aynı site olarak saymak yerine siteler arası olarak sayar. Güvenliği artırır ama bazı sitelerin bozulmasına yol açabilir.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Geliştirici Araçları: Service Worker hata ayıklama
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Hata ayıklama panelinde Service Worker’lar için deneysel destek sağlar. Bu özellik, Geliştirici Araçlarını yavaşlatabilir ve bellek tüketimini artırabilir.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Ses Kapatma Düğmeleri
experimental-features-webrtc-global-mute-toggles-description = WebRTC genel paylaşım göstergesine kullanıcıların mikrofonlarını ve kameralarını her yerde sessize almalarını sağlayan düğmeleri ekler.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k kilidi
experimental-features-win32k-lockdown-description = Tarayıcı sekmelerinde Win32k API’lerinin kullanımını devre dışı bırakır. Güvenlik artışı sağlar ancak şu anda istikrarsız veya hatalı olabilir. (Yalnızca Windows için)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = JavaScript performansını ve bellek kullanımını iyileştirme projesi Warp'u etkinleştirir.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Site İzolasyonu)
experimental-features-fission-description = Fission (site izolasyonu), { -brand-short-name }’ta güvenlik hatalarına karşı ek bir savunma katmanı sağlayan deneysel bir özelliktir. Fission, her bir siteyi ayrı bir işleme izole ederek kötü amaçlı web sitelerinin ziyaret ettiğiniz diğer sayfalardaki bilgilere erişmesini zorlaştırır. Fission, { -brand-short-name } tarayıcısında önemli bir mimari değişimidir. Bu özelliği test eder ve karşılaştığınız sorunları bize bildirirseniz memnun oluruz. Daha fazla bilgi için <a data-l10n-name="wiki">wiki</a>’ye bakın.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Çoklu Görüntü İçinde Görüntü Desteği
experimental-features-multi-pip-description = Birden çok görüntü içinde görüntü penceresinin aynı anda açılmasını sağlamak için deneysel destek.
# Search during IME
experimental-features-ime-search =
    .label = Adres Çubuğu: IME oluşturma sırasında sorunları göster
experimental-features-ime-search-description = IME (Giriş Yöntemi Düzenleyicisi), standart bir klavye kullanarak Doğu Asya veya Hintçe yazı dillerinde kullanılanlar gibi karmaşık sembolleri girmenize olanak tanıyan bir araçtır. Bu deneyi etkinleştirmek, metin girmek için IME'yi kullanırken adres çubuğu panelini açık tutacak ve arama sonuçlarını ve önerileri gösterecektir. IME'nin adres çubuğu sonuçlarını örten bir panel görüntüleyebileceğini, bu nedenle bu tercihin yalnızca bu tür bir paneli kullanmayan IME'ler için önerildiğini unutmayın.
# Firefox 100
experimental-features-firefox-100 =
    .label = { -brand-product-name } 100 User-Agent Dizgesi
