# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Maxfiy oynani ochish
    .accesskey = M
about-private-browsing-search-placeholder = Internetdan izlash
about-private-browsing-info-title = Siz maxfiy oynadasiz
about-private-browsing-info-myths = Maxfiy koʻrish haqida tarqalgan afsonalar
about-private-browsing-search-btn =
    .title = Internetdan izlash
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } orqali qidiring yoki manzilni kiriting
about-private-browsing-handoff-no-engine =
    .title = Qidiring yoki manzilni kiriting
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } orqali qidiring yoki manzilni kiriting
about-private-browsing-handoff-text-no-engine = Qidiring yoki manzilni kiriting
about-private-browsing-not-private = Siz hozirda maxfiy oynada emassiz.
about-private-browsing-info-description = Ilovadan chiqsangiz yoki Maxfiy koʻrish oynalarini yopsangiz, qidiruv va ochilgan saytlar tarixini { -brand-short-name } tozalab tashlaydi. Bu sizni sayt va internet provayderingiz uchun anonim qila olmaydi, lekin bu kompyuterdan foydalanuvchi insonlardan brauzeridagi faoliyatingizni yashirishda yordam beradi.
about-private-browsing-need-more-privacy = Yanada maxfiy boʻlmoqchimisiz?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } ishlatib koʻring
about-private-browsing-info-description-private-window = Barcha maxfiy oynalarni yopsangiz, maxfiy oyna { -brand-short-name } qidiruv va tarixini tozalab tashlaydi. Bu sizni anonim qila olmaydi.
about-private-browsing-info-description-simplified = Barcha maxfiy oynalarni yopsangiz, { -brand-short-name } qidiruv va brauzer tarixini tozalaydi, lekin bu bilan siz anonim boʻla olmaysiz.
about-private-browsing-learn-more-link = Batafsil
about-private-browsing-hide-activity = Qayerdan internetga kirsangiz ham bajargan amallaringiz va joylashuvingizni yashirishingiz mumkin
about-private-browsing-get-privacy = Istalgan joyda internetda maxfiy qoling
about-private-browsing-hide-activity-1 = Brauzerdagi faoliyatingiz va joylashuvingizni { -mozilla-vpn-brand-name } yordamida yashiring. Bir marta bosish yetarli. Hatto ochiq Wi-Fi boʻlsa ham, xavfsiz ulanish yaratiladi.
about-private-browsing-prominent-cta = { -mozilla-vpn-brand-name } bilan maxfiy qoling
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } – Maxfiy oynalardagi asosiy qidiruv tizimingiz
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Boshqa qidiruv tizimini tanlash uchun <a data-l10n-name="link-options">Parametrlar</a> sahifasini oching
       *[other] Boshqa qidiruv tizimini tanlash uchun <a data-l10n-name="link-options">Parametrlar</a> sahifasini oching
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Yopish
