# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Ceangail Gléas Eile
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-step3 = 3. Oscail an <b>menu</b> (<img data-l10n-name="ios-menu-icon"/> nó <img data-l10n-name="android-menu-icon"/>), cnag ar <img data-l10n-name="settings-icon"/> <b>Socruithe</b> agus roghnaigh <b>Cuir Sionc ar siúl</b>
fxa-qrcode-error-title = Níor éirigh le péireáil.
fxa-qrcode-error-body = Déan arís é.
