# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Sinu õigustest
rights-intro = { -brand-full-name } on vaba ja avatud koodiga tarkvara, mille on loonud kogukond, mis moodustub tuhandetest inimestest üle maailma. On mõned asjad, mida sa peaksid teadma:
rights-intro-point-1 = { -brand-short-name } on tehtud kättesaadavaks järgneva litsentsi all: <a data-l10n-name="mozilla-public-license-link">Mozilla avalik litsents (MPL - Mozilla Public License)</a>. See tähendab, et sa võid { -brand-short-name }i kasutada, kopeerida ja teistele jagada. Sa võid ka igati muuta { -brand-short-name }i lähtekoodi, kui tahad, et see paremini sobiks sinu vajadustega. Samuti annab Mozilla avalik litsents (MPL) sulle õiguse oma muudetud versiooni edasi levitada.
rights-intro-point-2 = Mozilla ei anna sulle mingeid õigusi ega litsentse Mozilla ja Thunderbirdi kaubamärkide või logode üle. Lisainfot kaubamärkide kohta võib leida <a data-l10n-name="mozilla-trademarks-link">siit</a>.
rights-intro-point-3 = Mõned { -brand-short-name }i komponendid, nagu näiteks vigadest teatamise rakendus, annavad sulle võimaluse saata tagasisidet { -vendor-short-name }le. Valides tagasiside saatmise kasuks, annad sa { -vendor-short-name }le õiguse kasutada seda tagasisidet toote täiustamiseks, tagasiside avaldamiseks veebilehel ja tagasiside edasijagamiseks.
rights-intro-point-4 = Kuidas me { -brand-short-name }i vahendusel { -vendor-short-name }le edastatud isiklikku infot ja tagasisidet kasutame, on ära kirjeldatud <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }i privaatsuse reeglites</a>.
rights-intro-point-4-unbranded = Kõik selle tootega seonduvad privaatsusreeglid peaks olema ära toodud siin.
rights-intro-point-5 = { -brand-short-name } pakub ka lisanduvaid veebipõhiseid infoteenuseid; siiski ei garanteeri me, et need on 100% täpsed või veavabad. Rohkem teavet, sealhulgas nende teenuste keelamise kohta, võib leida <a data-l10n-name="mozilla-service-terms-link">teenuse tingimustest</a>.
rights-intro-point-5-unbranded = Kui see toode sisaldab endas veebiteenuseid, siis kõigile seonduvatele teenuse/teenuste tingimustele peaks olema viidatud <a data-l10n-name="mozilla-website-services-link">veebiteenuste</a> sektsioonis.
rights-intro-point-6 = Teatud tüüpi videote esitamiseks tõmbab { -brand-short-name } kolmandatelt osapooltelt vajalikke sisu dekrüptimise mooduleid.
rights-webservices-header = { -brand-full-name }i veebipõhised infoteenused
rights-webservices = { -brand-full-name } kasutab veebipõhiseid infoteenuseid ("teenused"), mis on saadaval selles { -brand-short-name }i binaarses versioonis, nagu on kirjeldatud allpool. Kui sa ei taha kasutada neid teenuseid või allolevad tingimused on sulle vastuvõetamatud, siis võid sa antud komponendi või teenuse(d) välja lülitada. Juhtnöörid konkreetse komponendi või teenuse väljalülitamiseks võib leida <a data-l10n-name="mozilla-disable-service-link">siit</a>. Muid teenusi või funktsionaalsusi on võimalik keelata rakenduse sätetest.
rights-webservices2 = { -brand-full-name } kasutab veebipõhiseid infoteenuseid ("teenused"), mis on saadaval selles { -brand-short-name }i binaarses versioonis, nagu on kirjeldatud allpool. Kui sa ei taha kasutada neid teenuseid või allolevad tingimused on sulle vastuvõetamatud, siis võid sa antud komponendi või teenuse(d) välja lülitada. Juhtnöörid konkreetse komponendi või teenuse väljalülitamiseks võib leida <a data-l10n-name="mozilla-disable-service-link">siit</a>. Muid teenusi või funktsionaalsusi on võimalik keelata rakenduse sätetest.
rights-locationawarebrowsing = <strong>Asukohateadlik veebilehitsemine: </strong>see on alati valikuline.  Mingit asukoha infot ei saadeta ilma sinu nõusolekuta.  Teenuse täielikuks väljalülitamiseks järgi neid samme:
rights-locationawarebrowsing-term-1 = Kirjuta aadressireale <code>about:config</code>
rights-locationawarebrowsing-term-2 = Kirjuta geo.enabled
rights-locationawarebrowsing-term-3 = Tee eelistusel geo.enabled topeltklõps
rights-locationawarebrowsing-term-4 = Asukohateadlik veebilehitsemine on nüüd keelatud
rights-webservices-unbranded = Ülevaate veebipõhistest teenustest, mida toode sisaldab, ning juhenditest, kuidas neid vajaduse korral keelata, peaks leidma siit.
rights-webservices-term-unbranded = Kõik vajalikud teenuste tingimused peaks leidma siit.
rights-webservices-term-1 = { -vendor-short-name } ja selle kaasautorid, litsentsiaarid ning partnerid töötavad selle heaks, et pakkuda kõige täpsemaid ja värskemaid teenuseid.  Siiski pole neil võimalik garanteerida, et see info on kõikehõlmav ja veatu.  Näiteks turvalise veebilehitsemise teenusel võib jääda mõni ohtlik veebileht tuvastamata ja mõni turvaline veebileht võidakse märkida ohtlikuks ning asukohapõhise teenuse poolt tagastatud asukohad on umbkaudsed ja ei meie ega meie teenusepakkujad ei garanteeri tagastatud asukohtade täpsust.
rights-webservices-term-2 = { -vendor-short-name } võib omal valikul teenuseid muuta või nende pakkumise lõpetada.
rights-webservices-term-3 = Oled teretulnud kasutama neid teenuseid kaasneva { -brand-short-name }i versiooniga ja { -vendor-short-name } annab sulle selleks oma õigused.  { -vendor-short-name } ja selle litsentsiaarid on kaitsnud kõik muud teenuste õigused.  Need tingimused ei ole mõeldud piirama mistahes õigusi, mis on tagatud  { -brand-short-name }ile ja vastavale { -brand-short-name }i lähtekoodi versioonile rakenduvate avatud koodi litsentsidega.
rights-webservices-term-4 = <strong>Teenuseid osutatakse "nii, nagu nad on" ning { -vendor-short-name }, selle kaasautorid, litsentsiaarid ja levitajad ütlevad lahti igasugustest garantiidest, nii otsestest kui kaudsetest, sealhulgas ilma piiranguta garantiist, et teenused on turustatavad ja sobivad sinu vajadustele. Sa kannad kogu riski oma vajadustele vastavate teenuste valimise ning nende kvaliteedi ja toimimise eest. Mõnes õigusruumis ei ole kaudsete garantiide välistamine või piiramine lubatud; sel juhul ei pruugi lahtiütlus sinu kohta kehtida.</strong>
rights-webservices-term-5 = <strong>Kui seadusega ei ole teisiti ette nähtud, ei vastuta { -vendor-short-name }, selle kaasautorid, litsentsiaarid ega levitajad mitte mingisuguse kaudse, erakordse, ettenägematu ega millestki muust tulenenud rahalist hüvitust või hoiatust nõudva kahju eest, mis võib tekkida { -brand-short-name }i ja selle teenuste kasutamisest või on mingil viisil seotud nende kasutamisega. Nende tingimuste kohane kollektiivne vastutus ei ületa 500 dollarit. Mõnes õigusruumis ei ole teatud kahjude välistamine või piiramine lubatud; sel juhul ei pruugi see välistamine ja piiramine sinu kohta kehtida.</strong>
rights-webservices-term-6 = { -vendor-short-name } võib neid tingimusi vajadusel aeg-ajalt muuta. Tingimuste muutmine või nendest loobumine { -vendor-short-name } kirjaliku loata on keelatud.
rights-webservices-term-7 =
    Need tingimused vastavad USA California osariigi seadustele, mis välistab konflikti seadustega. Kui mingi osa neist tingimustest osutub kehtetuks või ei ole jõustatavad, jäävad teised osad täielikult jõusse. Konflikti korral nende tingimuste tõlgitud ja ingliskeelse versiooni vahel kehtib ingliskeelne
    versioon.
