# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Tere tulemast { -brand-full-name }i
account-settings = Kontode sätted
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Vali, mida seadistada
        [one] Vali, mida seadistada
       *[other] Lisa veel üks konto
    }
about-title = { -brand-full-name }i teave
resources-title = Ressursid
release-notes =
    .title = { -brand-full-name }i teave
email-label = E-post
    .aria-label = Ühendu oma olemasoleva e-posti kontoga
email-description = { -brand-short-name } võimaldab sul luua ühenduse oma olemasoleva e-posti kontoga, et lugeda oma e-kirju selles rakenduses mugavalt ja tõhusalt.
calendar-label = Kalender
    .aria-label = Loo uus kalender
calendar-description = { -brand-short-name } võimaldab hallata sündmusi ja hoiab sind organiseerituna. Kaugkalendriga ühenduse loomine hoiab kõik sinu sündmused kõigis sinu seadmetes sünkroonis.
chat-label = Kiirsuhtlus
    .aria-label = Ühendu oma kiirsuhtluse kontoga
chat-description = { -brand-short-name } võimaldab sul ühenduda mitme kiirsuhtluskontoga, pakkudes tuge erinevatele platvormidele.
filelink-label = Fail(id) kasutades teenust
    .aria-label = Seadista failide saatmine teenuse vahendusel
filelink-description = { -brand-short-name } võimaldab sul seadistada mugava faililingi pilvekonto, et saaksid suuri manuseid hõlpsalt saata.
addressbook-label = Aadressiraamat
    .aria-label = Loo uus aadressiraamat
addressbook-description = { -brand-short-name } võimaldab sul hallata oma kontakte aadressiraamatus. Võimalik on lisada ka kaugaadressiraamat, et hoida kõik oma kontaktid sünkroonis.
feeds-label = Uudistevood
    .aria-label = Ühendu uudistevoogudega
feeds-description = { -brand-short-name } võimaldab luua ühenduse RSS/Atom uudistevoogudega, et saada uudiseid ja värskendusi kõikjalt.
newsgroups-label = Uudistegrupid
    .aria-label = Ühendu uudistegruppidega
newsgroups-description = { -brand-short-name } võimaldab sul ühenduda kõigi soovitud uudistegruppidega.
import-title = Importimine teisest rakendusest
import-paragraph = { -brand-short-name } võimaldab sul importida e-kirju, aadressiraamatute kirjeid, uudistevoogude tellimusi, sätteid ja/või filtreid muudest e-posti rakendustest ja levinud aadressiraamatu vormingutest.
import-paragraph2 = { -brand-short-name } võimaldab sul importida e-kirju, aadressiraamatute kirjeid, uudistevoogude tellimusi, sätteid ja/või filtreid muudest e-posti rakendustest ja levinud aadressiraamatu vormingutest.
import-label = Impordi
    .aria-label = Impordi andmed teistest rakendustest
about-paragraph = Thunderbird on juhtiv mitmel platvormil töötav avatud lähtekoodiga meili- ja kalendrirakendus, tasuta nii äri- kui ka erakasutajatele. Soovime, et see püsiks turvaline ja muutuks veel paremaks. Annetus aitab meil värvata arendajaid, katta infrastruktuuri kulusid ning jätkata arenemist.
about-paragraph-consider-donation = <b>Thunderbirdi rahastavad kasutajad nagu sina! Palun kaalu annetamist, kui sulle Thunderbird meeldib.</b> Parim viis kindlustamaks, et Thunderbird jääb kättesaadavaks, on <a data-l10n-name="donation-link">annetada</a>.
explore-link = Tutvu funktsionaalsusega
support-link = Kasutajatugi
involved-link = Aita kaasa
developer-link = Arendaja dokumentatsioon
read = Loe kirju
compose = Kirjuta uus kiri
search = Otsi kirju
filter = Halda e-posti filtreid
nntp-subscription = Halda uudistegruppide tellimusi
rss-subscription = Halda uudistevoogude tellimusi
e2e = Otspunktkrüptimine
