# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Hangi teenusepakkujalt uus e-posti aadress
provisioner-searching-icon =
    .alt = Otsimine...
account-provisioner-title = Uue e-posti aadressi loomine
account-provisioner-description = Uue privaatse ja turvalise e-posti aadressi hankimiseks kasuta meie usaldusväärseid partnereid.
account-provisioner-start-help = Kasutatavad otsingufraasid saadetakse { -vendor-short-name }le (<a data-l10n-name="mozilla-privacy-link">privaatsusreeglid</a>) ja kolmanda osapoole e-posti teenusepakkujatele <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">privaatsusreeglid</a>, <a data-l10n-name="mailfence-tou-link">kasutustingimused</a>) ning <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">privaatsusreeglid</a>, <a data-l10n-name="gandi-tou-link">kasutustingimused</a>), et leida saadaolevaid e-posti aadresse.
account-provisioner-mail-account-title = Osta uus e-posti aadress
account-provisioner-mail-account-description = Thunderbird teeb koostööd ettevõttega <a data-l10n-name="mailfence-home-link">Mailfence</a>, et pakkuda sulle uut privaatset ja turvalist e-posti aadressi. Me usume, et kõigil peaks olema turvaline e-post.
account-provisioner-domain-title = Osta endale e-post ja domeen
account-provisioner-domain-description = Thunderbird teeb koostööd ettevõttega <a data-l10n-name="gandi-home-link">Gandi</a>, et pakkuda sulle omal valikul domeeni. See võimaldab sul kasutada sellel domeenil mistahes aadressi.

## Forms

account-provisioner-mail-input =
    .placeholder = Sinu nimi, hüüdnimi või muu otsingufraas
account-provisioner-domain-input =
    .placeholder = Sinu nimi, hüüdnimi või muu otsingufraas
account-provisioner-search-button = Otsi
account-provisioner-button-cancel = Loobu
account-provisioner-button-existing = Kasuta olemasolevat e-posti kontot
account-provisioner-button-back = Mine tagasi

## Notifications

account-provisioner-fetching-provisioners = Teenusepakkujate hankimine…
account-provisioner-connection-issues = Konto loomise serveriga polnud võimalik ühenduda. Palun kontrolli oma internetiühendust.
account-provisioner-searching-email = Saadaolevate e-posti kontode otsimine…
account-provisioner-searching-domain = Saadaolevate domeenide otsimine…
account-provisioner-searching-error = Soovitatavat aadressi polnud võimalik leida. Proovi oma otsingufraasi muuta.

## Illustrations

account-provisioner-step1-image =
    .title = Loodava konto valimine

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Leiti üks saadaolev aadress:
       *[other] Leiti { $count } saadaolevat aadressi:
    }
account-provisioner-mail-results-caption = Sa võid enamate aadresside leidmiseks proovida otsida hüüdnime või midagi muud.
account-provisioner-domain-results-caption = Sa võid enamate domeenide leidmiseks proovida otsida hüüdnime või midagi muud.
account-provisioner-free-account = Vaba
account-provision-price-per-year = { $price } aastas
account-provisioner-all-results-button = Kuva kõik tulemused
account-provisioner-open-in-tab-img =
    .title = Avaneb uuel kaardil
