# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Localized string used as the dialog window title.
# "Report" is a noun in this case, "Report for AddonName".
#
# Variables:
#   $addon-name (string) - Name of the add-on being reported
abuse-report-dialog-title = Emomarandu { $addon-name }
abuse-report-title-extension = Emomarandu ko jepysokue rehegua { -vendor-short-name }-pe
abuse-report-title-sitepermission = Emombe’u tenda moĩmbaha ñemoneĩ rehegua { -vendor-short-name }-pe
abuse-report-title-theme = Emomarandu ko téma rehegua { -vendor-short-name }-pe
abuse-report-subtitle = ¿Mba’ete pe apañuãi?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = <a data-l10n-name="author-name">{ $author-name }</a> rehe
abuse-report-learnmore =
    ¿Ndereikuaaporãi mba’e apañuãi emoĩporãta?
    <a data-l10n-name="learnmore-link">Eñemomaranduve jepysokue rehegua ha avei téma</a>
abuse-report-submit-description = Emoha’ãnga apañuãi (ejaposéramo)
abuse-report-textarea =
    .placeholder = Oréve ndahasyive romoĩporãvo apañuãi roguerekóramo mba’esa’i hesegua. Ehesa’ỹijo ne apañuãi. Aguyje orepytyvõ haguére ñanduti hekoresãi hag̃ua.
abuse-report-submit-note =
    Kuaarã: ndogueroikéi marandu nemba’etéva (téra, ñanduti veve kundaharape, pumbyry papapy, óga rape).
    { -vendor-short-name } oguereko tapia jehaipy ko’ã marandu rehegua.

## Panel buttons.

abuse-report-cancel-button = Heja
abuse-report-next-button = Upeigua
abuse-report-goback-button = Mboguevijey
abuse-report-submit-button = Mondo

## Message bars descriptions.
##
## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = Ojehejáma marandu <span data-l10n-name="addon-name">{ $addon-name }</span> rehegua.
abuse-report-messagebar-submitting = Emondohína marandu <span data-l10n-name="addon-name">{ $addon-name }</span> peg̃uarã.
abuse-report-messagebar-submitted = Aguyje emondo haguére marandu. ¿Emboguesépa <span data-l10n-name="addon-name">{ $addon-name }</span>?
abuse-report-messagebar-submitted-noremove = Aguyje emondo haguére marandu.
abuse-report-messagebar-removed-extension = Aguyje emondo haguére marandu. Emboguéma pe jepysokue <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-sitepermission = Aguyje emondo haguére pe marandu’i. Emboguéma pe jepysokue Tenda ñemoneĩ <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-removed-theme = Aguyje emondo haguére marandu. Emboguéma pe téma <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-error = Oiko jejavy emondokuévo marandu <span data-l10n-name="addon-name">{ $addon-name }</span> rehegua.
abuse-report-messagebar-error-recent-submit = Noñemondói marandu <span data-l10n-name="addon-name">{ $addon-name }</span> rehegua oñemondóma haguére ambue marandu.

## Message bars actions.

abuse-report-messagebar-action-remove-extension = Héẽ, emboguete
abuse-report-messagebar-action-keep-extension = Nahániri, añongatúta
abuse-report-messagebar-action-remove-sitepermission = Héẽ, eipe’a
abuse-report-messagebar-action-keep-sitepermission = Nahániri, ahejáta
abuse-report-messagebar-action-remove-theme = Héẽ, emboguete
abuse-report-messagebar-action-keep-theme = Nahániri, añongatúta
abuse-report-messagebar-action-retry = Ha’ãjey
abuse-report-messagebar-action-cancel = Heja

## Abuse report reasons (optionally paired with related examples and/or suggestions)

abuse-report-damage-reason-v2 = Ombyai che mohendaha térã omomarãkuaa che mba’ekuaarã
abuse-report-damage-example = Techapyrã: omohenda malware térã omonda marandu
abuse-report-spam-reason-v2 = Oreko yty térã omoinge ñemurã eipota’ỹva
abuse-report-spam-example = Techapyrã: Omoinge maranduñemurã ñanduti kuatiaroguépe
abuse-report-settings-reason-v2 = Iñambue che jehekaha, kuatiarogue ñepyrũ térã tendayke pyahu omomarandu ha oporandu’ỹva
abuse-report-settings-suggestions = Emomarandu mboyve pe jepysokue, eñeha’ã emoambue ñemboheko:
abuse-report-settings-suggestions-search = Emoambue ñemboheko jehekaha ijypykuévape
abuse-report-settings-suggestions-homepage = Emoambue kuatiarogue ñepyrũha ha tendayke pyahúpe
abuse-report-deceptive-reason-v2 = Eha’ã umi ndaha’éiva
abuse-report-deceptive-example = Techapyrã: Ñemoha’ãnga térã ta’ãnga jejavýva
abuse-report-broken-reason-extension-v2 = Ndoikói, omopẽ ñanduti renda térã omombegue { -brand-product-name }
abuse-report-broken-reason-sitepermission-v2 = Ndoikói, omopẽ ñanduti renda térã omombegue { -brand-product-name }
abuse-report-broken-reason-theme-v2 = Ndoikói térã oipe’a ohechaukáva kundahára
abuse-report-broken-example = Techapyrã: umi tembiapoite imbegue, hasy ijepuru térã ndoikói; oĩ ñanduti renda vore noñemyanyhẽi térã ojehechauka vaíva
abuse-report-broken-suggestions-extension = Hi’ã jéve ojuhúma apañuãi. Avei omondóma marandu’i ko’árupi, emoĩporãséramo apañuãi tembiapoite rehegua eñe’ẽ jepysokue ñangarekohára ndive. <a data-l10n-name="support-link">Eike jepysokue ñanduti rendápe</a> eguereko hag̃ua ñangarekoha mba’ekuaarã eñe’ẽ hag̃ua hendive.
abuse-report-broken-suggestions-sitepermission =
    Hi’ã jéve ojuhúma pe apañuãi. Avei omondóma marandu’i ko’árupi, emoĩporãséramo
    apañuãi tembiapoite rehegua eñe’ẽ ñanduti renda ñangarekohára ndive.
    <a data-l10n-name="support-link">Eike ñanduti rendápe</a> eñemomarandu hag̃ua ñangarekoharaite ndive.
abuse-report-broken-suggestions-theme = Hi’ã jéve ojuhúma apañuãi. Avei omondóma marandu’i ko’árupi, emoĩporãséramo apañuãi tembiapoite rehegua eñe’ẽ jepysokue ñangarekohára ndive. <a data-l10n-name="support-link">Eike téma ñanduti rendápe</a> eguereko hag̃ua ñangarekoha mba’ekuaarã eñe’ẽ hag̃ua hendive.
abuse-report-policy-reason-v2 = Tetepy iñaña, imbarete térã léigui osẽva
abuse-report-policy-suggestions = Kuaarã: Umi apañuãi ojojoguáva apohare derécho ha marca registrada oñemomaranduva’erã ha’eño peteĩteĩva. <a data-l10n-name="report-infringement-link">Eipuru ko’ã je’epyre</a> emomarandu hag̃ua apañuãi.
abuse-report-unwanted-reason-v2 = Ndaipotái ha ndaikuaái mba’éichapa ajeíta chugui
abuse-report-unwanted-example = Techapyrã: Peteĩ tembipuru’i oñemohendáva amoneĩ’ỹre
abuse-report-other-reason = Ambue mba’e
