# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Åpne et privat vindu
    .accesskey = Å
about-private-browsing-search-placeholder = Søk på nettet
about-private-browsing-info-title = Du er i et privat vindu
about-private-browsing-info-myths = Vanlige myter om privat nettlesing
about-private-browsing-search-btn =
    .title = Søk på nettet
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Søk med { $engine } eller skriv inn adresse
about-private-browsing-handoff-no-engine =
    .title = Søk eller skriv inn adresse
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Søk med { $engine } eller skriv inn adresse
about-private-browsing-handoff-text-no-engine = Søk eller skriv inn adresse
about-private-browsing-not-private = Du er for tiden ikke i et privat vindu.
about-private-browsing-info-description = { -brand-short-name } fjerner søk- og nettleserhistorikken når du avslutter programmet eller lukker alle private faner og vinduer. Selv om dette ikke gjør deg anonym for nettsteder eller Internett-leverandøren din, vil det gjøre det lettere å beholde det du gjør på nettet privat fra alle andre som bruker denne datamaskinen.
about-private-browsing-need-more-privacy = Trenger du mer personvern?
about-private-browsing-turn-on-vpn = Prøv { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Private vindu: { -brand-short-name } sletter søke- og nettleserloggen din når du lukker alle private vinduer. Dette gjør deg ikke anonym.
about-private-browsing-info-description-simplified = { -brand-short-name } sletter søke- og nettleserloggen din når du lukker alle private vinduer, men dette gjør deg ikke anonym.
about-private-browsing-learn-more-link = Les mer
about-private-browsing-hide-activity = Skjul aktiviteten og plasseringen din, hvor enn du surfer
about-private-browsing-get-privacy = Få personvernbeskyttelse overalt der du surfer
about-private-browsing-hide-activity-1 = Skjul nettleseraktivitet og plasseringen din med { -mozilla-vpn-brand-name }. Ett klikk skaper en sikker tilkobling, selv på offentlig Wi-Fi.
about-private-browsing-prominent-cta = Hold deg privat med { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } er standard søkemotor i private vindu
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] For å velge en annen søkemotor, gå til <a data-l10n-name="link-options">Innstillinger</a>.
       *[other] For å velge en annen søkemotor, gå til <a data-l10n-name="link-options">Innstillinger</a>.
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Lukk
about-private-browsing-dismiss-button =
    .title = Ignorer
