# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Nhận địa chỉ email mới từ nhà cung cấp dịch vụ
provisioner-searching-icon =
    .alt = Đang tìm kiếm…
account-provisioner-title = Tạo một địa chỉ email mới
account-provisioner-description = Sử dụng các đối tác đáng tin cậy của chúng tôi để có được một địa chỉ email mới riêng tư và an toàn.
account-provisioner-start-help = Các cụm từ tìm kiếm được sử dụng được gửi đến { -vendor-short-name } (<a data-l10n-name="mozilla-privacy-link">Chính sách riêng tư</a>) và các nhà cung cấp email bên thứ 3 <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">Chính sách riêng tư</a>, <a data-l10n-name="mailfence-tou-link">Điều khoản sử dụng</a>) và <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">Chính sách riêng tư</a>, <a data-l10n-name="gandi-tou-link">Điều khoản sử dụng</a>) để tìm các địa chỉ email có sẵn.
account-provisioner-mail-account-title = Mua một địa chỉ email mới
account-provisioner-mail-account-description = Thunderbird hợp tác với <a data-l10n-name="mailfence-home-link">Mailfence</a> để cung cấp cho bạn một email mới riêng tư và an toàn. Chúng tôi tin rằng mọi người nên có một email an toàn.
account-provisioner-domain-title = Mua một email và miền của riêng bạn
account-provisioner-domain-description = Thunderbird hợp tác với <a data-l10n-name="gandi-home-link">Gandi</a> để cung cấp cho bạn một miền tùy chỉnh. Điều này cho phép bạn sử dụng bất kỳ địa chỉ nào trên miền đó.

## Forms

account-provisioner-mail-input =
    .placeholder = Tên, nickname hoặc cụm từ tìm kiếm khác của bạn
account-provisioner-domain-input =
    .placeholder = Tên, nickname hoặc cụm từ tìm kiếm khác của bạn
account-provisioner-search-button = Tìm kiếm
account-provisioner-button-cancel = Hủy bỏ
account-provisioner-button-existing = Sử dụng tài khoản email hiện có
account-provisioner-button-back = Quay lại

## Notifications

account-provisioner-fetching-provisioners = Đang truy xuất từ ​​nhà cung cấp dịch vụ…
account-provisioner-connection-issues = Không thể kết nối với máy chủ đăng ký của chúng tôi. Vui lòng kiểm tra kết nối của bạn.
account-provisioner-searching-email = Đang tìm kiếm các tài khoản email có sẵn…
account-provisioner-searching-domain = Đang tìm kiếm các miền khả dụng…
account-provisioner-searching-error = Không thể tìm thấy bất kỳ địa chỉ nào để đề xuất. Hãy thử thay đổi các cụm từ tìm kiếm.

## Illustrations

account-provisioner-step1-image =
    .title = Chọn tài khoản để tạo

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
       *[other] Đã tìm thấy { $count } địa chỉ khả dụng cho:
    }
account-provisioner-mail-results-caption = Bạn có thể thử tìm kiếm nickname hoặc bất kỳ thuật ngữ nào khác để tìm thêm email.
account-provisioner-domain-results-caption = Bạn có thể thử tìm kiếm nickname hoặc bất kỳ thuật ngữ nào khác để tìm thêm miền.
account-provisioner-free-account = Miễn phí
account-provision-price-per-year = { $price } mỗi năm
account-provisioner-all-results-button = Hiển thị tất cả kết quả
account-provisioner-open-in-tab-img =
    .title = Mở trong một thẻ mới
