# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Tervetuloa { -brand-full-name }iin
account-settings = Tilin asetukset
#   $accounts (Number) - the number of configured accounts
setup-title = Valitse mitä asennetaan
about-title = Tietoja { -brand-full-name }ista
resources-title = Resurssit
release-notes =
    .title = Tietoja { -brand-full-name }ista
email-label = Sähköposti
    .aria-label = Yhdistä olemassa olevaan sähköpostitiliin
email-description = { -brand-short-name }in avulla voi muodostaa yhteyden olemassa olevaan sähköpostitilisiisi, jotta voit lukea sähköpostisi kätevästi ja tehokkaasti sovelluksen sisällä.
calendar-label = Kalenteri
    .aria-label = Luo uusi kalenteri
calendar-description = { -brand-short-name }in avulla voit käsitellä tapahtumiasi ja pysyä organisoituna. Yhdistäminen etäkalenteriin pitää kaikki tapahtumasi synkronoituna kaikilla laitteillasi.
chat-label = Keskustelut
    .aria-label = Yhdistä keskustelutiliisi
chat-description = { -brand-short-name }in avulla muodostat yhteyden useisiin pikaviestitileihin ja se tarjoaa tukea eri alustoille.
filelink-label = FIlelink
    .aria-label = Määritä Filelink
filelink-description = { -brand-short-name }in avulla voit määrittää kätevän tiedostolinkkitilin, jolla voit helposti lähettää suuria liitteitä.
addressbook-label = Osoitekirja
    .aria-label = Luo uusi osoitekirja
addressbook-description = { -brand-short-name }in avulla järjestät kaikki yhteystietosi osoitekirjaan. Voit myös muodostaa yhteyden etäosoitekirjaan pitääksesi kaikki yhteystietosi synkronoituna.
feeds-label = Syötteet
    .aria-label = Yhdistä syötteisiin
feeds-description = { -brand-short-name }in avulla muodostat yhteyden RSS/Atom-syötteisiin, jolloin saat uutisia ja päivityksiä ympäri maailmaa.
newsgroups-label = Uutisryhmät
    .aria-label = Yhdistä uustisyhmiin
newsgroups-description = { -brand-short-name }in avulla voit muodostaa yhteyden kaikkiin haluamiisi uutisryhmiin.
import-title = Tuo toisesta ohjelmasta
import-paragraph = { -brand-short-name }in avulla voit tuoda sähköpostiviestejä, osoitekirjamerkintöjä, syötteiden tilauksia, asetuksia ja/tai suodattimia muista postiohjelmista ja yleisistä osoitekirjamuodoista.
import-paragraph2 = { -brand-short-name }in avulla voit tuoda sähköpostiviestejä, osoitekirjamerkintöjä, syötteiden tilauksia, asetuksia ja/tai suodattimia muista postiohjelmista ja yleisistä osoitekirjamuodoista.
import-label = Tuonti
    .aria-label = Tuo tietoja muista ohjelmista
about-paragraph = Thunderbird on johtava avoimen lähdekoodin ja kaikkien alustojen sähköposti- ja kalenteriohjelma. Se on ilmainen sekä yrityskäyttöön, että yksityiskäyttöön. Haluamme pitää sen turvallisena ja kehittää siitä entistä paremman. Lahjoitus auttaa meitä palkkaamaan kehittäjiä, rahoittamaan infrastruktuuria ja jatkamaan kehitystyötä.
about-paragraph-consider-donation = <b>Thunderbirdia rahoittavat kaltaisesi käyttäjät! Jos Thunderbird on mieleesi, harkitse lahjoituksen antamista.</b> Paras tapa taata Thunderbirdin olemassaolo on <a data-l10n-name="donation-link"> tehdä lahjoitus</a>.
explore-link = Tutustu ominaisuuksiin
support-link = Tuki
involved-link = Tule mukaan
developer-link = Kehittäjien dokumentaatio
read = Lue viestejä
compose = Kirjoita uusi viesti
search = Hae viestejä
filter = Hallitse viestisuodattimia
nntp-subscription = Hallitse keskusteluryhmien tilauksia
rss-subscription = Hallitse syötetilauksia
e2e = Päästä päähän -salaus
