# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Hanki uusi sähköpostiosoite palveluntarjoajalta
provisioner-searching-icon =
    .alt = Etsitään…
account-provisioner-title = Luo uusi sähköpostiosoite
account-provisioner-description = Käytä luotettavia kumppaneitamme saadaksesi uuden yksityisen ja turvallisen sähköpostiosoitteen.
account-provisioner-mail-account-title = Osta uusi sähköpostiosoite
account-provisioner-mail-account-description = Thunderbird ja <a data-l10n-name="mailfence-home-link">Mailfence</a> tarjoavat yhteistyön tuloksena sinulle yksityisen ja turvallisen sähköpostitilin. Uskomme, että jokaisella on oikeus turvalliseen sähköpostiin.
account-provisioner-domain-title = Osta oma sähköposti ja verkkotunnus
account-provisioner-domain-description = Thunderbird ja <a data-l10n-name="gandi-home-link">Gandi</a> tarjoavat yhteistyön tuloksena sinulle omavalintaista verkkotunnusta. Se mahdollistaa haluamasi sähköpostiosoitteen luomisen kyseisen verkkotunnuksen alaisuuteen.

## Forms

account-provisioner-mail-input =
    .placeholder = Nimesi, nimimerkkisi tai muu hakuehto
account-provisioner-domain-input =
    .placeholder = Nimesi, nimimerkkisi tai muu hakuehto
account-provisioner-search-button = Etsi
account-provisioner-button-cancel = Peruuta
account-provisioner-button-existing = Käytä olemassa olevaa sähköpostitiliä
account-provisioner-button-back = Takaisin

## Notifications

account-provisioner-connection-issues = Kommunikointi rekisteröitymispalvelumme kanssa ei toimi. Tarkista verkkoyhteyden toimivuus.
account-provisioner-searching-email = Etsitään käytettävissä olevia sähköpostitilejä…
account-provisioner-searching-domain = Etsitään käytettävissä olevia verkkotunnuksia…
account-provisioner-searching-error = Ehdotettavia osoitteita ei löytynyt. Kokeile muuttaa hakuehtoja.

## Illustrations

account-provisioner-step1-image =
    .title = Valitse luotava tili

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Yksi käytettävissä oleva osoite löytyi:
       *[other] { $count } käytettävissä olevaa osoitetta löytyi:
    }
account-provisioner-mail-results-caption = Voit etsiä muita sähköpostiosoitteita nimimerkeillä tai muilla hakuehdoilla.
account-provisioner-domain-results-caption = Voit etsiä muita verkkotunnuksia nimimerkeillä tai muilla hakuehdoilla.
account-provisioner-free-account = Ilmainen
account-provision-price-per-year = { $price } vuodessa
account-provisioner-all-results-button = Näytä kaikki tulokset
account-provisioner-open-in-tab-img =
    .title = Avautuu uuteen välilehteen
