# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Тек-HTTPS режимінің ескертуі
about-httpsonly-title-connection-not-available = Қауіпсіз байланыс қолжетімсіз
about-httpsonly-title-site-not-available = Қауіпсіз сайт қолжетімді емес
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Сіз жақсартылған қауіпсіздік үшін тек-HTTPS режимін іске қосқансыз, бірақ, <em>{ $websiteUrl }</em> адресінің HTTPS нұсқасы қолжетімсіз.
about-httpsonly-explanation-question = Бұған не себеп болуы мүмкін?
about-httpsonly-explanation-nosupport = Бұл веб-сайт HTTPS қолдамайтын сияқты.
about-httpsonly-explanation-risk = Сонымен қатар, шабуылшы да араласуы мүмкн. Веб-сайттқа кіруді шешсеңіз, парольдер, эл. пошта немесе несие карта мәліметтері сияқты сезімтал ақпаратты енгізбеуіңіз керек.
about-httpsonly-explanation-continue = Жалғастыратын болсаңыз, бұл сайт үшін тек-HTTPS режимі уақытша сөндірілетін болады.
about-httpsonly-button-continue-to-site = HTTP сайтына өту
about-httpsonly-button-go-back = Артқа оралу
about-httpsonly-link-learn-more = Көбірек білу…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Мүмкін болатын балама
about-httpsonly-suggestion-box-www-text = <em>www.{ $websiteUrl }</em> сайтының қауіпсіз нұсқасы бар. Сіз бұл бетті <em>{ $websiteUrl }</em> орнына қолдана аласыз.
about-httpsonly-suggestion-box-www-button = www.{ $websiteUrl } сайтына өту
