# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Bir servis sağlayıcıdan yeni bir e-posta adresi alın
provisioner-searching-icon =
    .alt = Aranıyor…
account-provisioner-title = Yeni e-posta adresi oluştur
account-provisioner-description = Güvenilir iş ortaklarımız aracılığıyla yeni, gizli ve güvenli bir e-posta adresi alabilirsiniz.
account-provisioner-start-help = Aradığınız terimler, olası e-posta adreslerini bulmak için { -vendor-short-name }’ya (<a data-l10n-name="mozilla-privacy-link">Gizlilik İlkesi</a>) and ve iş ortaklarımız <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">Gizlilik İlkesi</a>, <a data-l10n-name="mailfence-tou-link">Kullanım Koşulları</a>) ile <strong>gandi.net</strong>’e (<a data-l10n-name="gandi-privacy-link">Gizlilik İlkesi</a>, <a data-l10n-name="gandi-tou-link">Kullanım Koşulları</a>) gönderilir.
account-provisioner-mail-account-title = Yeni bir e-posta adresi satın alın
account-provisioner-mail-account-description = Bizce herkes güvenli bir e-postaya sahip olmalı. Thunderbird size gizlilik yanlısı ve güvenli bir e-posta sunmak için <a data-l10n-name="mailfence-home-link">Mailfence</a> ile işbirliğine gitti.
account-provisioner-domain-title = Kendinize ait bir e-posta ve alan adı satın alın
account-provisioner-domain-description = Thunderbird, size özel bir alan adı sunmak için <a data-l10n-name="gandi-home-link">Gandi</a> ile işbirliğine gitti. Bu sayede o alan adındaki istediğiniz adresi kullanabilirsiniz.

## Forms

account-provisioner-mail-input =
    .placeholder = Adınız, rumuzunuz veya diğer arama terimleriniz
account-provisioner-domain-input =
    .placeholder = Adınız, rumuzunuz veya diğer arama terimleriniz
account-provisioner-search-button = Ara
account-provisioner-button-cancel = Vazgeç
account-provisioner-button-existing = Mevcut e-posta hesabımı kullanacağım
account-provisioner-button-back = Geri dön

## Notifications

account-provisioner-fetching-provisioners = Sağlayıcılar alınıyor…
account-provisioner-connection-issues = Kayıt sunucularımızla iletişim kuramadık. Lütfen bağlantınızı kontrol edin.
account-provisioner-searching-email = Kullanılabilir e-posta hesapları aranıyor…
account-provisioner-searching-domain = Kullanılabilir alan adları aranıyor…
account-provisioner-searching-error = Önerebileceğimiz bir adres bulamadık. Arama terimlerinizi değiştirmeyi deneyin.

## Illustrations

account-provisioner-step1-image =
    .title = Oluşturmak istediğiniz hesabı seçin

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Bir uygun adres bulundu:
       *[other] { $count } uygun adres bulundu:
    }
account-provisioner-mail-results-caption = Daha fazla e-posta bulmak için takma ad veya başka bir terim de arayabilirsiniz.
account-provisioner-domain-results-caption = Daha fazla alan adı bulmak için takma ad veya başka bir terim de arayabilirsiniz.
account-provisioner-free-account = Ücretsiz
account-provision-price-per-year = { $price } / yıl
account-provisioner-all-results-button = Tüm sonuçları göster
account-provisioner-open-in-tab-img =
    .title = Yeni sekmede açılır
