# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Embojuruja pe jokopytykuaa CSS Masonry Layout ipyahúva ndive. Eñe’ẽ <a data-l10n-name="explainer">mba’emimive</a> ndive ereko hag̃ua marandu tembiapoite rehegua. Emondo hag̃ua haipyre, emombe’u <a data-l10n-name="w3c-issue">ko issue GitHub mba’épe</a> térã <a data-l10n-name="bug">ko bug</a>-pe.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Ko API pyahu ome’ẽ pytyvõ michĩva ejapo hag̃ua computación ha ta’ãnga moambuepyre eipurúvo <a data-l10n-name="wikipedia">Unidad de procesamiento de gráficos (GPU)</a> mba’e’oka térã puruhára mohendahápe. Pe <a data-l10n-name="spec">ha’etéva</a> ha’e tembiapo oku’éva. Eporandu <a data-l10n-name="bugzilla">bug 1602129</a> eikuaave hag̃ua.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Ko tembiapoite myandypyre, { -brand-short-name } ojokupyty marandurenda ra’ãnga AV1 (AVIF) ysaja ndive. Ko marandurenda ra’ãnga opytáva oipurúva algoritmo rembiapo ta’ãngamýi AV1 moñe’ẽha omomichĩ hag̃ua ta’ãnga. Eporandu <a data-l10n-name="bugzilla">bug 1443863</a> eikuaave hag̃ua.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Media: JPEG XL
experimental-features-media-jxl-description = Ko tembiapoite hendýva ndive, { -brand-short-name } omoneĩ pe JPEG XL (JXL) ysaja. Kóva ha’e ta’ãnga marandurenda iporãvéva ysaja omoneĩva jeku’e okañy’ỹre marandurenda JPEG guive. Eikuaave hag̃ua, eporandu <a data-l10n-name="bugzilla">bug 1539075</a>-pe.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Ore rekome’ẽ tuichaháicha ñemomba’apo <a data-l10n-name="mdn-inputmode">inputmode</a> hekopyahúma he’iháicha <a data-l10n-name="whatwg">WHATWG oipotahaichaite</a>, hákatu noroikotevẽi gueteri ñemoambueve, techapyrãramo ojepurukuaávo tetepy oñembosako’ikuaáva. Eporandu <a data-l10n-name="bugzilla">bug 1205133</a> eikuaaporãve hag̃ua.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Pe jehechaha apohare <a data-l10n-name="mdn-cssstylesheet"> CSSStyleSheet</a> avei ñemoambueita ojokupytýva ha omoneĩva oñemoheñói hag̃ua kuatia mbohekoha ipyahúva embojuaju’ỹre kuatia HTML rehe. Kóva nombohasyive emoheñoikuaa hag̃ua kuatia mbohekoha ojepurukuaajeýva eipuru hag̃uáicha <a data-l10n-name="mdn-shadowdom">Shadow DOM</a> ndive. Ehecha <a data-l10n-name="bugzilla">bug 1520690</a> eikuaa porãve hag̃ua.
experimental-features-devtools-color-scheme-simulation =
    .label = Tembipuru mboguatahárape g̃uarã: sa’y’aty ñeha’ãha
experimental-features-devtools-color-scheme-simulation-description = Embojuaju jeporavorã eha’ã hag̃ua opáichagua sa’y’aty ñeha’ãha omoneĩtava eporandúvo <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-schem</a>. Pe tembiapoite jepuru omoneĩta nde kuatia mbohekoha ombohováivo puruhára oipotárõ peteĩ techaha hesakã térã iñypytũva. Kóva omoneĩta eipurúvo nde ayvu emoambue’ỹre ne kundahára ñemboheko (térã apopyvusu oku’éva, pe kundahára ohapykuehórõ sa’y’aty ñeha’ãha opaite apopyvusúpe). Eporandu <a data-l10n-name="bugzilla1">bug 1550804</a> ha <a data-l10n-name="bugzilla2">bug 1137699-pe</a> eikuaave hag̃ua.
experimental-features-devtools-execution-context-selector =
    .label = Mboguatahára rembipuru: Momba’apo Jeregua Poravoha
experimental-features-devtools-execution-context-selector-description = Ko tembiapoite ohechauka votõ pe mbohapeha mba’e’okarupa omoneĩva omoambuéva pe jeregua hekojeráva pe ñe’ẽrysýi emoingéva. Eporandu <a data-l10n-name="bugzilla1">bug 1605154</a> ha <a data-l10n-name="bugzilla2">bug 1605153</a> eikuaa porãve hag̃ua.
experimental-features-devtools-compatibility-panel =
    .label = Mboguatahára rembipuru: Ojokupytyva Rupa
experimental-features-devtools-compatibility-panel-description = Ta’ãngarupa yke kuatiarogue Moambuekuaaha ohechaukáva marandu omyesakãva jokupyty reko tembipuru’i kundahára pa’ũme. Eporandu <a data-l10n-name="bugzilla">bug 1584464</a> erekove hag̃ua mba’emimi.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Kookie: SameSite=Lax ijypykuéva
experimental-features-cookie-samesite-lax-by-default2-description = Ereko kookies “SameSite=Lax” ijypykuéramo neremoha’eñóitaramo pe “SameSite” rekome’ẽ. Umi mboguatahára ohechava’erã pe mba’eichaitépa ojepuru ag̃aite jejoko’ỹre ehechaukaitévo “SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Kookie: SameSite=None oikotevẽ tekome’ẽ hekorosãva
experimental-features-cookie-samesite-none-requires-secure2-description = Umi kookie “SameSite=none” rekome’ẽ ndive oikotevẽ tekome’ẽ hekorosãva. Ko tembiapoite oikotevẽ “Kookie: SameSite=Lax ijypyguáva”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home kache ñepyrũgua
experimental-features-abouthome-startup-cache-description = Kache kuatia ñepyrũguápe g̃uarã about:home henyhẽva ijehegui oñepyrũnguévo. Ko kache rembiaporã ha’e oikoporãve hag̃ua oñepyrũvo.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Kookie: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Eipuru umi kookie tendatee pegua, hákatu hetaichaguápe (techapyrã, http://example.com ha https://example.com) tenda ojuasávaramo tenda ojueheguávaramo. Emohekorosãve, hákatu ikatu ominge mbyaikuaaha.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Mboguatahára rembipuru: Service Worker mopotĩha
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Embojuruja pytyvõha ipyahúva Service Workers peg̃uarã Mopotĩha rupápe. Ko tembiapoite ikatu omombegue umi Tembipuru ñemboguataha ha oipuruve mandu’arenda.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Emyandy/embogue WebRTC tuichaháicha
experimental-features-webrtc-global-mute-toggles-description = Embojuaju moambueha WebRTC iñambuéva tuichaháicha omoneĩva puruharápe omondohóvo tuichaháicha iñe’ẽatãha ha ha’ãngamýi.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k jejoko
experimental-features-win32k-lockdown-description = Eipe’a pe Win32k API jepuru kundahára rendayképe. Ome’ẽkuaa tekorosãve, hákatu naiporãmbái térã ojavykuaa. (Windows-pe añoite)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Embojuruja Warp, apopyrã oiko ha ojepuruporãve hag̃ua JavaScript mandu’arenda.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Tenda moha’eño)
experimental-features-fission-description = Fission (tenda momombyry) ha’e tembiapo pyahu { -brand-short-name } pegua ome’ẽkuaáva ape anambusu ñemo’ãrã apañuãi tekorosãgua. Emomombyrývo peteĩteĩva tenda tapereko ipa’ũvape, Fission ombohasy umi ñanduti renda imarãva oikévo marandu ambue kuatiarogue eikeha pegua. Kóva ha’e tekoambue tuicháva { -brand-short-name }-pe ha roaguyjeme’ẽta emombe’úramo oimeraẽva apañuãi ejuhúva rehegua. Eikuaave hag̃ua, eporandu <a data-l10n-name="wiki">el wiki</a>-pe.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Ojokupytýva heta Picture-in-Picture ndive
experimental-features-multi-pip-description = Tembiapoite oñeha’ãva omoneĩ hag̃ua heta ovetã ijurujáva Picture-in-Picture oñondivepa.
# Search during IME
experimental-features-ime-search =
    .label = Kundaharape renda: ehechauka jejapopyre IME ñemyeñói aja
experimental-features-ime-search-description = Peteĩ IME (Input Method Editor) ha’e tembipuru omoneĩva ejapóvo ta’ãnga’i hasýva ijapo, ojepurúva ñe’ẽnguéra ojehaíva índico térã Asia oriental gotyo, oipurúvo tairenda ypykuéva. Emyandy tembiapopyahu ombojurujáta kundaharape renda rupa, ohechaukávo jehekaha rembiapokue ha je’eporã, ojepuru aja IME emboguapy hag̃ua moñe’ẽrã. Ehecháke IME ikatuha ohechauka tupa omo’ãva kundaharape renda rapykuere, upévare he’i eipuru hag̃ua erohoryvéva IME ndoipurúirõ koichagua tupa.
# Firefox 100
experimental-features-firefox-100 =
    .label = { -brand-product-name } 100 puruhára juajuha
