# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

fxa-pair-device-dialog =
    .title = Boshqa qurilmani ulash
    .style = width: 26em; min-height: 35em;
fxa-qrcode-heading-step3 = 3. <b>Menyuni</b> (<img data-l10n-name="ios-menu-icon"/> oching yoki <img data-l10n-name="android-menu-icon"/>) <img data-l10n-name="settings-icon"/> <b>Sozlamalar</b> ustiga bosing va <b>Sinxronizatsiyani yoqish</b>ni tanlang
fxa-qrcode-error-title = Ulanmadi.
fxa-qrcode-error-body = Qayta urining
