# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Davart tes dretgs
rights-intro = { -brand-full-name } è ina software libra cun in code avert, creada d'ina communitad da millis persunas da tut il mund. I dat in pèr chaussas che ti stuessas savair:
rights-intro-point-1 = { -brand-short-name } è disponibel tenor las cundiziuns da la <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. Quai munta che ti pos utilisar, copiar e dar vinavant { -brand-short-name } ad auters. Ti dastgas era midar il code da funtauna da { -brand-short-name } ed al adattar a tes basegns. La Mozilla Public License ta dat era il dretg da distribuir tia versiun modifitgada.
rights-intro-point-2 =
    Mozilla na ta conceda nagins dretgs e naginas licenzas per las marcas
    da la Mozilla Foundation u dad in'autra partida; quai vala era senza limitaziun
    per il num ed il logo da Thunderbird. Ulteriuras infurmaziuns davart las marcas
    chatt'ins <a data-l10n-name="mozilla-trademarks-link">qua</a>.
rights-intro-point-3 = Tschertas funcziuns da { -brand-short-name }, sco las annunzias da collaps, ta porschan la pussaivladad da dar in resun a { -vendor-short-name }. Cun la decisiun da trametter il resun lubeschas ti a { -vendor-short-name } dad utilisar il resun per meglierar ses products, da publitgar il resun sin sias paginas d'internet e da distribuir il resun.
rights-intro-point-4 = Co che nus utilisain tias infurmaziuns persunalas ed ils resuns che ti tramettas a { -vendor-short-name } entras { -brand-short-name } è descrit en las <a data-l10n-name="mozilla-privacy-policy-link">Directivas per la protecziun da datas da { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Tut las directivas areguard la protecziun da datas che concernan quest product duessan esser enumeradas qua.
rights-intro-point-5 = Tschertas funcziuns da { -brand-short-name } utiliseschan servetschs d'infurmaziun a basan dal web. Nus na pudain betg garantir che quellas èn 100% correctas e senza sbagls. Ulteriurs detagls, inclus las infurmaziuns co deactivar las funcziuns che utiliseschan quests servetschs pos ti chattar en las <a data-l10n-name="mozilla-service-terms-link">cundiziuns da servetsch</a>.
rights-intro-point-5-unbranded = Sche quest product cuntegna servetschs da web, duessan tut las cundiziuns da servetsch valaivlas per il(s) servetsch(s) esser colliadas cun il champ <a data-l10n-name="mozilla-website-services-link">Servetschs da websites</a>.
rights-intro-point-6 = Per far ir tscherts tips da cuntegn da video telechargia { -brand-short-name } moduls da terzas partidas per decriptar il cuntegn.
rights-webservices-header = Servetschs d'infurmaziun da { -brand-full-name } a basa dal web
rights-webservices = { -brand-full-name } utilisescha servetschs d'infurmaziun a basa dal web ("Servetschs") per ta porscher tschertas funcziuns che stattan a disposiziun en questa versiun binaria da { -brand-short-name } tenor las cundiziuns descrittas sutvart. Sche ti na vuls betg utilisar in u plirs da quests servetschs ni sche ti na sas betg acceptar las cundiziuns sutvart pos ti deactivar las funcziuns u ils servetschs. Instrucziuns che mussan co deactivar las funcziuns u ils servetschs pos ti chattar <a data-l10n-name="mozilla-disable-service-link">qua</a>. Autras funcziuns e servetschs pon vegnir deactivads en las preferenzas da l'applicaziun.
rights-webservices2 = { -brand-full-name } utilisescha servetschs d'infurmaziun a basa dal web («Servetschs») per ta porscher tschertas funcziuns che stattan a disposiziun en questa versiun binaria da { -brand-short-name } tenor las cundiziuns descrittas sutvart. Sche ti na vuls betg utilisar in u plirs da quests servetschs ni sche ti na sas betg acceptar las cundiziuns sutvart, pos ti deactivar las funcziuns u ils servetschs. Instrucziuns che mussan co deactivar las funcziuns u ils servetschs chattas ti <a data-l10n-name="mozilla-disable-service-link">qua</a>. Autras funcziuns e servetschs pon vegnir deactivads en ils parameters da l'applicaziun.
rights-locationawarebrowsing = <strong>Navigar cun resguardar tia posiziun (Location Aware Browsing): </strong>è adina facultativ. Nagina infurmaziun davart tia posiziun vegn tramessa senza tes consentiment. Sche ti vuls deactivar cumplettamain questa funcziun, suonda ils suandants pass:
rights-locationawarebrowsing-term-1 = Scriva en la trav d'adressas <code>about:config</code>
rights-locationawarebrowsing-term-2 = Entdatescha geo.enabled
rights-locationawarebrowsing-term-3 = Clicca dubel sin la preferenza geo.enabled
rights-locationawarebrowsing-term-4 = Location-Aware Browsing è ussa deactivà
rights-webservices-unbranded = Qua duess cumparair ina survista davart ils servetschs da website utilisads ed in'instrucziun che mussa co deactivar els, sche quai è necessari.
rights-webservices-term-unbranded = Tut las cundiziuns che concernan ils servetschs utilisads da quest product duessan esser enumeradas qua.
rights-webservices-term-1 = { -vendor-short-name } e ses contribuents, concessiunaris e partenaris sa sprovan da porscher ils servetschs ils pli actuals ed exacts. Nus na pudain dentant betg garantir che questas infurmaziuns èn cumplettas e senza sbagls. Per exempel èsi pussaivel ch'il servetsch da SafeBrowsing n'identifitgescha betg tschertas paginas privlusas u ch'el identifitgescha paginas segiras sco privlusas. Era las posiziuns returnadas da noss purschiders dals servetschs che esguardan tia posiziun geografica èn stimadas e nus na pudain betg (era noss purschiders na pon betg) garantir che las posiziuns inditgadas èn correctas.
rights-webservices-term-2 = { -vendor-short-name } po sistir u midar ils servetschs tenor agen giudizi.
rights-webservices-term-3 = Ti dastgas far diever da quests servetschs cun la versiun correspundenta da { -brand-short-name }, e { -vendor-short-name } ta garantescha che ti has tut ils dretgs necessaris per far quai. { -vendor-short-name } e ses concessiunaris sa resalvan tut ils auters dretgs. Questas cundiziuns na vulan betg restrenscher dretgs che vegnan concedids da licenzas da code avert (Open-Source) e concernan { -brand-short-name } resp. versiuns correspundentas che sa basan sin il code da funtauna da { -brand-short-name }.
rights-webservices-term-4 = <strong>Quests servetschs vegnan mess a disposiziun "senza garanzia per defects". { -vendor-short-name }, ses contribuents, concessiunaris e distributurs refusan tut las garanzias, explicitas u implicitas, per quests servetschs. Ti surpiglias la cumplaina responsabladad per ils servetschs che ti tschernas per tes basegns e per lur qualitad e prestaziun. Tschertas giurisdicziuns na permettan nagina exclusiun u limitaziun da garanzias implicitas, uschia che questa liberaziun da la responsabladad na vala eventualmain betg per tai.</strong>
rights-webservices-term-5 = <strong>Nun che la lescha vertenta pretendia, na pon ni ils { -vendor-short-name }, ni ses contribuents, ni ses concessiunaris u distributurs esser responsabels per inquals donns indirects u spezials, donns entras effects laterals u donns che resultan da l'utilisaziun da { -brand-short-name } u dals servetschs. La responsabladad globala sa restrenscha a maximalmain $500 (tschintgtschient dollars). Tschertas giurisdicziuns na permettan betg l'exclusiun u la limitaziun da tscherts donns, uschia che questas exclusiuns u limitaziuns na pertutgan eventualmain betg tai.</strong>
rights-webservices-term-6 = { -vendor-short-name } po actualisar questas cundiziuns da temp en tempen cas da basegn. Questas cundiziuns na pon betg vegnir midadas u annulladas senza ina conferma en scrit da { -vendor-short-name }.
rights-webservices-term-7 = Questas cundiziuns vegnan protegidas da las leschas dal stadi da California, USA, exclus las normas giuridicas che stattan en conflict cun quellas. Sche singulas disposiziuns da questas cundiziuns avessan dad esser senza effect u nunpratitgablas, valan vinavant las ulteriuras cundiziuns. En cas d'in conflict tranter la versiun translatada e la versiun englaisa da questas cundiziuns, vala la versiun englaisa.
