# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Bainvegni en { -brand-full-name }
account-settings = Parameters dal conto
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Tscherna tge configurar
        [one] Configurar in auter conto
       *[other] Configurar auters contos
    }
about-title = Davart { -brand-full-name }
resources-title = Resursas
release-notes =
    .title = Davart { -brand-full-name }
email-label = E-mail
    .aria-label = Connectar cun tes conto d'e-mail existent
email-description = Cun { -brand-short-name } pos ti ta connectar cun tes conto d'e-mail existent per leger tes e-mails a moda pratica ed effizienta direct en l'applicaziun.
calendar-label = Chalender
    .aria-label = Crear in nov chalender
calendar-description = Cun { -brand-short-name } pos ti gestir eveniments e t'organisar. Ta connectescha cun in chalender per sincronisar tut tes eveniments sin mintgin da tes apparats.
chat-label = Chat
    .aria-label = Ta connectescha cun tes conto da chat
chat-description = Cun { -brand-short-name } pos ti ta connectar cun plirs contos da messadis immediats. Uschia è garantì il sustegn da diversas plattafurmas.
filelink-label = Filelink
    .aria-label = Configurar Filelink
filelink-description = Cun { -brand-short-name } pos ti configurar in conto pratic da filelink en la cloud per trametter a moda simpla grondas agiuntas.
addressbook-label = Cudeschet d'adressas
    .aria-label = Crear in nov cudeschet d'adressas
addressbook-description = Cun { -brand-short-name } pos ti organisar tut tes contacts en in cudeschet d'adressas. Ti pos era ta connectar cun in cudeschet d'adressas lontan per garantir che tut tes contacts vegnian sincronisads.
feeds-label = Feeds
    .aria-label = Ta connecta cun feeds
feeds-description = Cun { -brand-short-name } pos ti ta connectar cun feeds da RSS/Atom per retschaiver novitads da tut il mund.
newsgroups-label = Gruppas da discussiun
    .aria-label = Ta connectar cun ina gruppa da discussiun
newsgroups-description = Cun { -brand-short-name } pos ti ta connectar cun tut las gruppas da discussiun giavischadas.
import-title = Importar dad in auter program
import-paragraph = { -brand-short-name } ta permetta dad importar messadis, endataziuns da cudeschets d'adressas, abunaments da feeds, parameters e/u filters dad auters programs dad e-mail e formats frequents da cudeschets d'adressas.
import-paragraph2 = { -brand-short-name } ta permetta dad importar messadis dad e-mail, endataziuns da cudeschets d'adressas, abunaments da feeds, parameters e/u filters dad auters programs dad e-mail e formats frequents da cudeschets d'adressas.
import-label = Importar
    .aria-label = Importar datas dad auters programs
about-paragraph = Thunderbird è il pli impurtant program open-source dad e-mail e chalender per pliras plattafurmas – gratuit per l'utilisaziun privata ed en fatschentas. Nus vulain che Thunderbird restia segir e daventia anc meglier. Ina donaziun ans permetta dad emploiar sviluppaders, pajar l'infrastructura e perfecziunar il program.
about-paragraph-consider-donation = <strong>Thunderbird vegn finanzià grazia ad utilisaders sco ti! Sche Thunderbird ta plascha, considerescha per plaschair da far ina donaziun.</strong> Sche ti vuls far la segira che Thunderbird existia vinavant, <a class="more" href="%(donate)s">fa ina donaziun</a>.
explore-link = Scuvrir las funcziuns
support-link = Agid
involved-link = Ta participescha
developer-link = Documentaziun per sviluppaders
read = Leger ils messadis
compose = Scriver in nov messadi
search = Tschertgar messadis
filter = Administrar ils filters da messadis
nntp-subscription = Administrar ils abunaments da gruppas da discussiun
rss-subscription = Administrar ils abunaments da feeds
e2e = Criptadi fin-a-fin
