# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Ir per ina nova adressa dad e-mail dad in purschider
provisioner-searching-icon =
    .alt = Tschertgar…
account-provisioner-title = Crear ina nova adressa dad e-mail
account-provisioner-description = Fa diever dals servetschs da noss partenaris fidads per survegnir ina nova adressa privata e segirada.
account-provisioner-start-help = Ils terms tschertgads vegnan tramess a { -vendor-short-name } (<a data-l10n-name="mozilla-privacy-link">Directivas da la protecziun da datas</a>) ed als purschiders dad e-mail da terzas partidas <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">Directivas da la protecziun da datas</a>, <a data-l10n-name="mailfence-tou-link">Cundiziuns d'utilisaziun</a>) e <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">Directivas da la protecziun da datas</a>, <a data-l10n-name="gandi-tou-link">Cundiziuns d'utilisaziun</a>) per chattar adressas dad e-mail disponiblas.
account-provisioner-mail-account-title = Cumprar ina nova adressa dad e-mail
account-provisioner-mail-account-description = Thunderbird collavurescha cun <a data-l10n-name="mailfence-home-link">Mailfence</a> per ta porscher in nov servetsch dad e-mail privat e segir. Nus essan da l'avis che ina e mintgin duai avair ina servetsch segir dad e-mail.
account-provisioner-domain-title = Cumprar ti'atgna adressa dad e-mail e tia domena
account-provisioner-domain-description = Thunderbird collavurescha cun <a data-l10n-name="gandi-home-link">Gandi</a> per ta porscher in'atgna domena. Uschia pos ti utilisar mintga adressa sin questa domena.

## Forms

account-provisioner-mail-input =
    .placeholder = Tes num, surnum u in auter term da tschertga
account-provisioner-domain-input =
    .placeholder = Tes num, surnum u in auter term da tschertga
account-provisioner-search-button = Tschertgar
account-provisioner-button-cancel = Interrumper
account-provisioner-button-existing = Utilisar in conto dad e-mail existent
account-provisioner-button-back = Turnar

## Notifications

account-provisioner-fetching-provisioners = Obtegnair ils purschiders…
account-provisioner-connection-issues = Impussibel da communitgar cun noss servers d'annunzia. Controllescha per plaschair tia connexiun cun l'internet.
account-provisioner-searching-email = Tschertgar contos dad e-mail disponibels…
account-provisioner-searching-domain = Tschertgar domenas disponiblas…
account-provisioner-searching-error = I n'è betg reussì da chattar propostas per adressas. Emprova da midar ils terms da tschertga.

## Illustrations

account-provisioner-step1-image =
    .title = Tscherna il conto da crear

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Chattà ina adressa disponibla per:
       *[other] Chattà { $count } adressas disponiblas per:
    }
account-provisioner-mail-results-caption = Ti pos empruvar da tschertgar surnums u mintga auter term per chattar dapli adressas.
account-provisioner-domain-results-caption = Ti pos empruvar da tschertgar surnums u mintga auter term per chattar dapli domenas.
account-provisioner-free-account = Gratuit
account-provision-price-per-year = { $price } per onn
account-provisioner-all-results-button = Mussar tut ils resultats
account-provisioner-open-in-tab-img =
    .title = S'avra en in nov tab
