# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Založení nové e-mailové schránky
provisioner-searching-icon =
    .alt = Vyhledávání…
account-provisioner-title = Vytvořit novou e-mailovou adresu
account-provisioner-description = Využijte služeb našich prověřených partnerů pro založení nové soukromé a bezpečné e-mailové adresy.
account-provisioner-start-help = Pro nalezení dostupné e-mailové adresy jsou vyhledávané výrazy odesílány { -vendor-short-name(case: "dat") } (<a data-l10n-name="mozilla-privacy-link">zásady ochrany osobních údajů</a>) a poskytovatelům e-mailových služeb <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">zásady ochrany osobních údajů</a>, <a data-l10n-name="mailfence-tou-link">podmínky používání</a >) a <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">zásady ochrany osobních údajů</a>, <a data-l10n-name="gandi-tou-link">podmínky používání</a>).
account-provisioner-mail-account-title = Zakoupit novou e-mailovou adresu
account-provisioner-mail-account-description = Thunderbird spojil síly se službou <a data-l10n-name="mailfence-home-link">Mailfence</a>, která vám nabízí založení nového bezpečného a soukromého e-mailu. Věříme, že všechny e-mailové schránky by měly být bezpečné.
account-provisioner-domain-title = Kupte si vlastní e-mail a doménu
account-provisioner-domain-description = Thunderbird spojil síly se službou <a data-l10n-name="gandi-home-link">Gandi</a>, která vám nabízí založení nového bezpečného a soukromého e-mailu. Věříme, že všechny e-mailové schránky by měly být bezpečné.

## Forms

account-provisioner-mail-input =
    .placeholder = Vaše jméno, přezdívka nebo jiný výraz pro vyhledávání
account-provisioner-domain-input =
    .placeholder = Vaše jméno, přezdívka nebo jiný výraz pro vyhledávání
account-provisioner-search-button = Vyhledat
account-provisioner-button-cancel = Zrušit
account-provisioner-button-existing = Použít existující e-mailovou adresu
account-provisioner-button-back = Zpátky

## Notifications

account-provisioner-fetching-provisioners = Získávání seznamu poskytovatelů…
account-provisioner-connection-issues = Komunikace se servery pro vytváření účtů se nezdařila. Zkontrolujte prosím své připojení.
account-provisioner-searching-email = Hledání dostupných e-mailových účtů…
account-provisioner-searching-domain = Hledání dostupných domén…
account-provisioner-searching-error = Nepodařilo se najít žádné návrhy adres. Zkuste změnit hledané výrazy.

## Illustrations

account-provisioner-step1-image =
    .title = Vyberte si, který účet chcete vytvořit

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Nalezena jedna dostupná adresa pro:
        [few] Nalezeny { $count } dostupné adresy pro:
       *[other] Nalezeno { $count } dostupných adres pro:
    }
account-provisioner-mail-results-caption = Pro získání více adres zkuste hledat přezdívku nebo jiný výraz.
account-provisioner-domain-results-caption = Pro získání více domén zkuste hledat přezdívku nebo jiný výraz.
account-provisioner-free-account = Zdarma
account-provision-price-per-year = { $price } ročně
account-provisioner-all-results-button = Zobrazit všechny výsledky
account-provisioner-open-in-tab-img =
    .title = Otevře se v novém panelu
