# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Alertong HTTPS-Only Mode
about-httpsonly-title-connection-not-available = Hindi Magagamit ang Ligtas na Koneksyon
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Pinagana mo ang HTTPS-Only Mode para sa pinahusay na seguridad, at hindi magagamit ang HTTPS version ng <em>{ $websiteUrl }</em>.
about-httpsonly-explanation-question = Ano kaya ang sanhi nito?
about-httpsonly-explanation-nosupport = Malamang sa malamang, ang website ay sadyang hindi suportado ang HTTPS.
about-httpsonly-explanation-risk = Posible ring may attacker na may kinalaman dito. Kapag napagdesisyunan mong bisitahin ang website, huwag ka dapat magpasok ng sensitibong impormasyon kagaya ng mga password, email, o detalye ng credit card.
about-httpsonly-explanation-continue = Kung magpapatuloy ka, ang HTTPS-Only Mode ay pansamantalang papatayin para sa site na ito.
about-httpsonly-button-continue-to-site = Magpatuloy sa HTTP Site
about-httpsonly-button-go-back = Bumalik
about-httpsonly-link-learn-more = Alamin…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Posibleng Alternatibo
about-httpsonly-suggestion-box-www-text = Mayroong isang secure na bersyon ng <em>www.{ $websiteUrl }</em>. Maaari mong bisitahin ang pahinang ito sa halip na <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Pumunta sa www.{ $websiteUrl }
