# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Відкрити приватне вікно
    .accesskey = п
about-private-browsing-search-placeholder = Пошук в Інтернеті
about-private-browsing-info-title = Ви у приватному вікні
about-private-browsing-info-myths = Поширені міфи про приватний перегляд
about-private-browsing-search-btn =
    .title = Пошук в Інтернеті
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Шукайте за допомогою { $engine } або введіть адресу
about-private-browsing-handoff-no-engine =
    .title = Введіть запит чи адресу
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Шукайте за допомогою { $engine } або введіть адресу
about-private-browsing-handoff-text-no-engine = Введіть запит чи адресу
about-private-browsing-not-private = Зараз ви не у приватному вікні.
about-private-browsing-info-description = { -brand-short-name } очищує історію перегляду й пошуку під час виходу з програми або закриття усіх приватних вкладок та вікон. Це не робить вас анонімними для вебсайтів чи вашого провайдера, але дозволяє приховати вашу діяльність в інтернеті від будь-кого іншого, хто користується цим комп'ютером.
about-private-browsing-need-more-privacy = Потребуєте більше приватності?
about-private-browsing-turn-on-vpn = Спробуйте { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Приватне вікно: { -brand-short-name } очищує історію пошуку та перегляду, коли ви закриваєте всі приватні вікна. Це не робить вас анонімними.
about-private-browsing-info-description-simplified = { -brand-short-name } очищує історію пошуку та перегляду, коли ви закриваєте усі приватні вікна, але це не робить вас анонімними.
about-private-browsing-learn-more-link = Докладніше
about-private-browsing-hide-activity = Приховуйте свою активність і місцеперебування де б ви не переглядали щось в інтернеті
about-private-browsing-get-privacy = Отримайте захист приватності в інтернеті всюди
about-private-browsing-hide-activity-1 = Приховати активність перегляду та місцеперебування за допомогою { -mozilla-vpn-brand-name }. Одним натисканням створює безпечне з'єднання навіть у загальнодоступній мережі Wi-Fi.
about-private-browsing-prominent-cta = Зберігайте приватність з { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } є вашим типовим пошуковим засобом у приватних вікнах
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Щоб обрати інший пошуковий засіб, відкрийте <a data-l10n-name="link-options">Налаштування</a>
       *[other] Щоб обрати інший пошуковий засіб, відкрийте <a data-l10n-name="link-options">Налаштування</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Закрити
about-private-browsing-dismiss-button =
    .title = Відхилити
