# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Адчыніць прыватнае акно
    .accesskey = а
about-private-browsing-search-placeholder = Пошук у Інтэрнэце
about-private-browsing-info-title = Вы ў прыватным акне
about-private-browsing-info-myths = Шырокавядомыя забабоны пра прыватнае агляданне
about-private-browsing-search-btn =
    .title = Шукаць у Iнтэрнэце
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Шукайце з дапамогай { $engine } альбо увядзіце адрас
about-private-browsing-handoff-no-engine =
    .title = Увядзіце пошукавы запыт альбо адрас
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Шукайце з дапамогай { $engine } альбо увядзіце адрас
about-private-browsing-handoff-text-no-engine = Увядзіце пошукавы запыт альбо адрас
about-private-browsing-not-private = Вы зараз не ў прыватным акне.
about-private-browsing-info-description = { -brand-short-name } ачышчае вашу гісторыю пошуку і аглядання, калі вы выходзіце з праграмы або закрываеце ўсе карткі і вокны прыватнага аглядання. У той час як гэта не робіць вас ананімным для вэб-сайтаў і інтэрнэт-правайдара, гэта дазваляе лягчэй трымаць у сакрэце тое, што вы робіце ў сеціве, ад астатніх карыстальнікаў гэтага камп'ютара.
about-private-browsing-need-more-privacy = Трэба больш прыватнасці?
about-private-browsing-turn-on-vpn = Паспрабуйце { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Прыватнае акно: { -brand-short-name } ачышчае гісторыю пошуку і аглядання, калі вы закрываеце ўсе прыватныя вокны. Гэта не робіць вас ананімнымi.
about-private-browsing-info-description-simplified = { -brand-short-name } ачышчае гісторыю пошуку і аглядання, калі вы закрываеце ўсе прыватныя вокны, але гэта не робіць вас ананімным.
about-private-browsing-learn-more-link = Даведацца больш
about-private-browsing-hide-activity = Хавайце сваю актыўнасць і месцазнаходжанне ўсюды, дзе аглядаеце
about-private-browsing-get-privacy = Атрымайце абарону прыватнасці ўсюды, дзе аглядаеце
about-private-browsing-hide-activity-1 = Хавайце актыўнасць агляду і месцазнаходжанне з дапамогай { -mozilla-vpn-brand-name }. Адзін пстрык стварае бяспечнае злучэнне нават у агульнадаступнай сетцы Wi-Fi.
about-private-browsing-prominent-cta = Заставайцеся прыватным з { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } - ваш прадвызначаны пашукавік у прыватных вокнах
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Каб выбраць іншую пошукавую сістэму, перайдзіце да <a data-l10n-name="link-options">Налад</a>
       *[other] Каб выбраць іншую пошукавую сістэму, перайдзіце да <a data-l10n-name="link-options">Пераваг</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Закрыць
about-private-browsing-dismiss-button =
    .title = Схаваць
