# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = פתיחת חלון פרטי
    .accesskey = פ
about-private-browsing-search-placeholder = חיפוש ברשת
about-private-browsing-info-title = גלישה זו מתרחשת בחלון פרטי
about-private-browsing-info-myths = מיתוסים נפוצים על גלישה פרטית
about-private-browsing-search-btn =
    .title = חיפוש ברשת
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = ‏ניתן לחפש עם { $engine } או להקליד כתובת
about-private-browsing-handoff-no-engine =
    .title = חיפוש או הכנסת כתובת
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = ‏ניתן לחפש עם { $engine } או להקליד כתובת
about-private-browsing-handoff-text-no-engine = חיפוש או הכנסת כתובת
about-private-browsing-not-private = אינך כעת בחלון גלישה פרטית.
about-private-browsing-info-description = { -brand-short-name } מנקה את היסטוריית החיפוש והגלישה שלך כשהיישום נסגר או בעת סגירת כל הלשוניות והחלונות של גלישה פרטית. פעולה זו אמנם לא הופכת אותך לאלמוני כלפי אתרים או ספק האינטרנט שלך, אבל כן מקלה עליך בשמירה על הפעולות המקוונות שלך מפני כל מי שמשתמש במחשב זה.
about-private-browsing-need-more-privacy = יש לך צורך בעוד פרטיות?
about-private-browsing-turn-on-vpn = אפשר לנסות את { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = חלון פרטי: { -brand-short-name } מנקה את היסטוריית החיפוש והגלישה שלך בעת סגירת כל החלונות הפרטיים. פעולה זו לא הופכת אותך לאנונימי.
about-private-browsing-info-description-simplified = ‏{ -brand-short-name } מנקה את היסטוריית החיפוש והגלישה שלך בעת סגירת כל החלונות הפרטיים, אך פעולה זו לא הופכת אותך לאנונימי.
about-private-browsing-learn-more-link = מידע נוסף
about-private-browsing-hide-activity = הסתרת הפעילות והמיקום שלך בכל מקום בו גולשים ברשת
about-private-browsing-get-privacy = קבלת הגנות על הפרטיות בכל מקום שבו גולשים
about-private-browsing-hide-activity-1 = הסתרת פעילות הגלישה והמיקום שלך עם { -mozilla-vpn-brand-name }. לחיצה אחת יוצרת חיבור מאובטח, אפילו בגלישה ב-Wi-Fi ציבורי.
about-private-browsing-prominent-cta = להישאר אנונימי עם { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = ‏{ $engineName } הוא מנוע החיפוש המוגדר כברירת המחדל בחלונות פרטיים
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] לבחירת מנוע חיפוש אחר יש לעבור ל<a data-l10n-name="link-options">אפשרויות</a>
       *[other] לבחירת מנוע חיפוש אחר יש לעבור ל<a data-l10n-name="link-options">העדפות</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = סגירה
about-private-browsing-dismiss-button =
    .title = סגירה
