# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Opne eit privat vindauge
    .accesskey = O
about-private-browsing-search-placeholder = Søk på nettet
about-private-browsing-info-title = Du er i eit privat vindauge
about-private-browsing-info-myths = Vanlege mytar om privat surfing
about-private-browsing-search-btn =
    .title = Søk på nettet
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Søk med { $engine } eller skriv inn ei adresse
about-private-browsing-handoff-no-engine =
    .title = Søk eller skriv inn ei adresse
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Søk med { $engine } eller skriv inn ei adresse
about-private-browsing-handoff-text-no-engine = Søk eller skriv inn ei adresse
about-private-browsing-not-private = Du er ikkje i eit privat vindauge no.
about-private-browsing-info-description = { -brand-short-name } ryddar søke- og nettlesarhistorikken din, når du avsluttar programmet eller når du lèt at alle private faner og vindauge. Sjølv om dette ikkje gjer deg anonym for nettstadar eller internettleverandørar, vil det gjere det lettare å behalde det du gjer på nettet privat frå nokon annan som brukar denne datamaskina.
about-private-browsing-need-more-privacy = Treng du meir personvern?
about-private-browsing-turn-on-vpn = Prøv { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Private vindauge: { -brand-short-name } slettar søkje- og nettlesarloggen din når du lèt att alle private vindauge. Dette gjer deg ikkje anonym.
about-private-browsing-info-description-simplified = { -brand-short-name } slettar søkje- og nettlesarloggen din når du lèt att alle private vindauge, men dette gjer deg ikkje anonym.
about-private-browsing-learn-more-link = Les meir
about-private-browsing-hide-activity = Gøym aktiviteten og plasseringa di, same kvar du surfar
about-private-browsing-get-privacy = Få ivaretaking av personvernet overalt der du surfar
about-private-browsing-hide-activity-1 = Gøym nettlesaraktivitet og plasseringa di med { -mozilla-vpn-brand-name }. Eitt klikk skapar ei trygg tilkopling, sjølv på offentleg Wi-Fi.
about-private-browsing-prominent-cta = Hald deg privat med { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } er standard søkjemotor i private vindauge
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] For å velje ein annan søkjemotor, gå til <a data-l10n-name="link-options">Innstillingar</a>.
       *[other] For å veje ein annan søkjemotor, gå til <a data-l10n-name="link-options">Innstillingar</a>.
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Lat att
about-private-browsing-dismiss-button =
    .title = Ignorer
