# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Aðvörun vegna Einungis-HTTPS-hams
about-httpsonly-title-connection-not-available = Örugg tenging ekki tiltæk
about-httpsonly-title-site-not-available = Öruggt vefsvæði ekki tiltækt
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Þú hefur virkjað Einungis-HTTPS-ham til að auka öryggi en HTTPS-útgáfa af <em>{ $websiteUrl }</em> er ekki tiltæk.
about-httpsonly-explanation-question = Hvað gæti valdið þessu?
about-httpsonly-explanation-nosupport = Líklegast styður vefsvæðið einfaldlega ekki HTTPS.
about-httpsonly-explanation-risk = Það er líka mögulegt að árásaraðili sé viðriðinn málið. Ef þú ákveður að heimsækja vefsvæðið, ættir þú ekki að slá inn neinar viðkvæmar upplýsingar eins og lykilorð, tölvupóstföng eða kreditkortaupplýsingar.
about-httpsonly-explanation-continue = Ef þú heldur áfram verður slökkt tímabundið á Einungis-HTTPS-ham fyrir þessa síðu.
about-httpsonly-button-continue-to-site = Halda áfram á HTTP-vefsvæði
about-httpsonly-button-go-back = Til baka
about-httpsonly-link-learn-more = Fræðast meira…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Möguleg varaleið
about-httpsonly-suggestion-box-www-text = Það er til örugg útgáfa af <em>www.{ $websiteUrl }</em>. Þú getur heimsótt þá síðu í stað <em>{ $websiteUrl }</em>.
about-httpsonly-suggestion-box-www-button = Fara á www.{ $websiteUrl }
