# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Pridobite nov e-poštni naslov pri ponudniku storitev
provisioner-searching-icon =
    .alt = Iskanje …
account-provisioner-title = Ustvarite nov e-poštni naslov
account-provisioner-start-help = Uporabljene iskalne poizvedbe se pošljejo { -vendor-short-name(sklon: "dajalnik") } (<a data-l10n-name="mozilla-privacy-link">pravilnik o zasebnosti</a>) in ponudnikom e-pošte <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">pravilnik o zasebnosti</a>, <a data-l10n-name="mailfence-tou-link">pogoji uporabe</a>) in <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">pravilnik o zasebnosti</a>, <a data-l10n-name="gandi-tou-link">pogoji uporabe</a>), da odkrije razpoložljive e-poštne naslove.
account-provisioner-mail-account-title = Kupite nov e-poštni naslov
account-provisioner-mail-account-description = Thunderbird je združil moči s ponudnikom <a data-l10n-name="mailfence-home-link">Mailfence</a>, da bi vam ponudil nov zaseben in varen e-poštni naslov. Verjamemo, da bi vsak e-poštni predal moral biti varen.
account-provisioner-domain-title = Kupite lasten e-poštni naslov in domeno

## Forms

account-provisioner-mail-input =
    .placeholder = Vaše ime, vzdevek ali druga iskalna poizvedba
account-provisioner-domain-input =
    .placeholder = Vaše ime, vzdevek ali druga iskalna poizvedba
account-provisioner-search-button = Išči
account-provisioner-button-cancel = Prekliči
account-provisioner-button-existing = Uporabi obstoječ e-poštni račun
account-provisioner-button-back = Nazaj

## Notifications

account-provisioner-searching-email = Iskanje razpoložljivih e-poštnih računov …
account-provisioner-searching-domain = Iskanje razpoložljivih domen …
account-provisioner-searching-error = Najden ni bil noben naslov, ki bi ga lahko predlagali. Poskusite z drugačnim iskanjem.

## Illustrations

account-provisioner-step1-image =
    .title = Izberite, kateri račun želite ustvariti

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Najden je razpoložljiv naslov za:
        [two] Najdena sta { $count } razpoložljiva naslova za:
        [few] Najdeni so { $count } razpoložljivi naslovi za:
       *[other] Najdenih je { $count } razpoložljivih naslovov za:
    }
account-provisioner-mail-results-caption = Poskusite iskati z vzdevki ali s kakim drugim izrazom, če želite najti še več e-poštnih naslovov.
account-provisioner-domain-results-caption = Poskusite iskati z vzdevki ali s kakim drugim izrazom, če želite najti še več domen.
account-provisioner-free-account = Brezplačno
account-provision-price-per-year = { $price } na leto
account-provisioner-all-results-button = Pokaži vse rezultate
account-provisioner-open-in-tab-img =
    .title = Odpre se v novem zavihku
