# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Um þín réttindi
rights-intro = { -brand-full-name } er frjáls og opinn hugbúnaður, búinn til af samfélagi sem samanstendur af þúsundum allstaðar úr heiminum. Hér eru nokkrir hlutir sem þú ættir að vita:
rights-intro-point-1 = { -brand-short-name } er á boðstólum fyrir þig samkvæmt skilmálum <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. Þetta þýðir að þú mátt nota, afrita og dreifa { -brand-short-name } til annarra.  Þú mátt einnig breyta frumkóða { -brand-short-name } hvernig sem þér hentar. Mozilla Public License gefur þér einnig rétt til að dreifa breyttum útgáfum.
rights-intro-point-2 = Þú hefur ekki leyfi til að nota vörumerki eða hefur notkunarleyfi fyrir vörumerkjum frá Mozilla Foundation stofnunni eða öðrum aðilum, þar með talið án allra takmarkana Firefox-nafnið eða fyrirtækismerki þess. Meiri upplýsingar má sjá <a data-l10n-name="mozilla-trademarks-link">hér</a>.
rights-intro-point-3 = Sumir eiginleikar í { -brand-short-name }, eins og t.d. að tilkynna hrun, gefur þér tækifæri á að senda tilkynningu til { -vendor-short-name }. Með því að velja að senda tilkynningu, gefurðu { -vendor-short-name } leyfi til að nota tilkynninguna til að laga vörur sínar, og leyfi til að birta tilkynninguna á vefsvæðum sínum, og að deila tilkynningunni.
rights-intro-point-4 = Hvernig meðferð persónuupplýsinga og upplýsingar sem eru sendar til { -vendor-short-name } með { -brand-short-name } er háttað er lýst í <a data-l10n-name="mozilla-privacy-policy-link">Meðferð persónuupplýsinga hjá { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Allar reglur um meðferð persónuupplýsinga fyrir þessa vöru ættu að birtast hér.
rights-intro-point-5 = Sumir eiginleikar í { -brand-short-name } nota vefsvæðisupplýsingar, en, því miður getum við ekki ábyrgst að þær upplýsingar séu 100% nákvæmar eða villulausar. Fyrir meiri upplýsingar, og meðal annars upplýsingar um hvernig á að gera þjónusturnar óvirkar, er að finna í <a data-l10n-name="mozilla-service-terms-link">þjónustuskilmálum</a>.
rights-intro-point-5-unbranded = Ef þessi vara inniheldur vefþjónustur, skulu allar viðeigandi skilmálar fyrir þjónustuna vera tengdar við <a data-l10n-name="mozilla-website-services-link">Vefsvæðisþjónustu</a> flipann.
rights-intro-point-6 = Til að geta spilað sumar tegundir af myndefni, þarf { -brand-short-name } að hala niður ákveðnum tegundum af afkóðunarviðbótum frá utanaðkomandi aðilum.
rights-webservices-header = { -brand-full-name } Vefupplýsingaþjónustur
rights-webservices = { -brand-full-name } notar vefupplýsingaþjónustur ("Þjónustur") til að bjóða upp á suma eiginleika sem eru aðgengilegir í þessari útgáfu af { -brand-short-name } eins og lýst er hér fyrir neðan. Ef þú vilt ekki nota þjónusturnar eða skilmálarnir eru óaðgengilegir, geturðu gert eiginleikana eða þjónustuna óvirka. Leiðbeiningar fyrir að hætta að nota ákveðinn eiginleika eða þjónustu er hægt að finna <a data-l10n-name="mozilla-disable-service-link">hérna</a>. Aðrar stillingar og þjónustur er hægt að gera óvirkar í valkostum.
rights-webservices2 =
    { -brand-full-name } notar vefupplýsingaþjónustur ("Þjónustur") til að bjóða 
    upp á suma þá eiginleika sem aðgengilegir eru í þessari útgáfu af { -brand-short-name } 
    eins og lýst er hér fyrir neðan. Ef þú vilt ekki nota þjónusturnar eða skilmálarnir eru 
    óaðgengilegir, geturðu gert eiginleikana eða þjónustuna óvirka. 
    Leiðbeiningar fyrir að hætta að nota ákveðinn eiginleika eða þjónustu er hægt 
    að finna <a data-l10n-name="mozilla-disable-service-link">hérna</a>. 
    Aðrar stillingar og þjónustur er hægt að gera óvirkar í valkostum.
rights-locationawarebrowsing = <strong>Staðsetningarvöfrun: </strong>er alltaf valkvæmt.  Engar staðsetningarupplýsingar eru sendar án þíns leyfis.  Ef þú vilt taka þennan eiginlega alveg út, geturðu fylgt eftir þessum skrefum:
rights-locationawarebrowsing-term-1 = Í netfangaslá, sláðu inn <code>about:config</code>
rights-locationawarebrowsing-term-2 = Sláðu inn geo.enabled
rights-locationawarebrowsing-term-3 = Tvísmelltu á geo.enabled stillinguna
rights-locationawarebrowsing-term-4 = Staðsetningarvöfrun er núna óvirk
rights-webservices-unbranded = Hér ætti að vera yfirlit yfir þær vefþjónustur sem eru innifaldar í vörunni, með leiðbeiningum um hvernig á að gera þær óvirkar, ef það á við.
rights-webservices-term-unbranded = Allir viðeigandi skilmálar fyrir þessa vöru eiga að birtast hér.
rights-webservices-term-1 = { -vendor-short-name } og þeirra þátttakendur, leyfisaðilar og meðlimir vinna að því að útvega uppfærðar þjónustur og nákvæmar upplýsingar.  Hinsvegar, geta þeir ekki ábyrgst að þessar upplýsingar séu alhliða eða réttar.  Sem dæmi, gæti örugg vöfrun ekki endilega borið kennsl á óörugg vefsvæði og sum vefsvæði gætu verið rangt skilgreind sem örugg, og einnig eru staðsetningar frá staðsetningar þjónustunni bara ágiskanir og við eða þjónustuaðilar okkar geta ekki borið ábyrgð á að staðsetningar sem veittar eru séu nákvæmar.
rights-webservices-term-2 = { -vendor-short-name } hefur leyfi til að stöðva eða breyta þjónustunum að eigin geðþótta.
rights-webservices-term-3 = Þér er velkomið að nota þessar þjónustur með meðfylgjandi útgáfu af { -brand-short-name }, og { -vendor-short-name } gefur þér öll réttindi til þess.  { -vendor-short-name } og leyfishafar áskilja sér hinsvegar allan rétt varðandi þjónusturnar.  Þessir skilmálar takmarka ekki nein réttindi sem eru leyfð með opnum hugbúnaði sem á við { -brand-short-name } og samsvarandi útgáfur af frumkóða { -brand-short-name }.
rights-webservices-term-4 =
    <strong>Þessar þjónustur eru ætlaðar til notkunar "án allrar ábyrgðar."
    { -vendor-short-name }, þátttakendur, leyfisaðilar, og dreifingaraðilar, 
    afsala sér allri ábyrgð, hvort sem það er beint eða óbeint, innifelur það 
    í sér án allra takmarkana, ábyrgð á að að þjónusturnar séu seljanlegar og
     hæfi þínum sérstaka tilgangi.  Þú berð alla ábyrgð á því hvort val þitt á
     þjónustunum samsvari þínum tilgangi og hvort gæði eða afköst henti þér. 
    Sum lögsagnarumdæmi leyfa ekki útilokanir eða takmarkanir á ákveðinni 
    ábyrgð, þannig að þessi fyrirvari gæti ekki átt við þig.</strong>
rights-webservices-term-5 =
    <strong>Nema eins og krafist er í lögum, { -vendor-short-name }, munu
    þátttakendur þess, leyfisveitendur og dreifingaraðilar ekki bera ábyrgð á 
    neinu óbeinu, sérstöku, tilfallandi, afleiddu, refsiverðu eða dæmigerðu
    tjóni sem stafar af eða tengist á einhvern hátt notkun á { -brand-short-name } 
    og viðeigandi þjónustum. Sameiginleg ábyrgð samkvæmt þessum skilmálum 
    mun ekki geta farið yfir $500 (fimm hundruð dollara). Sum lögsagnarumdæmi
    ekki leyfa útilokun eða takmörkun á tilteknum skaðabótum, svo þessi
    útilokun og takmörkun gæti ekki átt við um þig.</strong>
rights-webservices-term-6 = Öðru hverju gæti { -vendor-short-name } nauðsynlega þurft að uppfæra þessa skilmála. Þessum skilmálum má ekki breyta eða ógilda án skriflegs leyfis { -vendor-short-name }.
rights-webservices-term-7 = Þessir skilmálar eru í samræmi við lög Kaliforníu fylkis, U.S.A., undanskilin eru árekstrar við önnur laga ákvæði. Ef einhver hluti þessara skilmála telst vera ógildur eða er ekki framfylgjanlegur, munu samt sem áður aðrir skilmálar vera áfram virkir. Ef upp kemur ágreiningur á milli þýddu útgáfunnar af þessum skilmálum og ensku útgáfunnar, mun enska útgáfan vera ráðandi.
