# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Velkomin í { -brand-full-name }
account-settings = Stillingar reiknings
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Veldu hvað á að setja upp
        [one] Setja upp annan reikning
       *[other] Setja upp aðra reikninga
    }
about-title = Um { -brand-full-name }
resources-title = Tilföng
release-notes =
    .title = Um { -brand-full-name }
email-label = Tölvupóstur
    .aria-label = Tengstu fyrirliggjandi tölvupóstreikningi sem þú átt
email-description = { -brand-short-name } gerir þér kleift að tengjast fyrirliggjandi tölvupóstreikningi þínum til að lesa tölvupóstinn þinn á þægilegan og skilvirkan hátt innan úr forritinu.
calendar-label = Dagatal
    .aria-label = Útbúðu nýtt dagatal
calendar-description = { -brand-short-name } gerir þér kleift að meðhöndla atburði og halda skipulagði á hlutunum. Með því að tengjast fjartengdu dagatali haldast atburðir samstilltir á milli  tækjanna þinna.
chat-label = Spjall
    .aria-label = Tengstu spjallreikningnum þínum
chat-description = { -brand-short-name } gerir þér kleift að tengjast mörgum spjallreikningum og býður upp á stuðning við ýmis kerfi.
filelink-label = Filelink
    .aria-label = Setja upp Filelink
filelink-description = { -brand-short-name } gerir þér kleift að setja upp þægilegan Filelink-skýjareikning til að auðvelda sendingu stórra viðhengja.
addressbook-label = Nafnaskrá
    .aria-label = Útbúðu nýja nafnaskrá
addressbook-description = { -brand-short-name } gerir þér kleift að skipuleggja alla tengiliði þína í nafnaskrám. Þú getur líka tengst fjartengdum nafnaskrám til að halda tengiliðunum þínum samstilltum á milli tækja.
feeds-label = Streymi
    .aria-label = Tengjast við fréttastreymi
feeds-description = { -brand-short-name } gerir þér kleift að tengjast RSS/Atom streymum til að fá fréttir og uppfærslur alls staðar að.
newsgroups-label = Fréttahópar
    .aria-label = Tengjast við fréttahóp
newsgroups-description = { -brand-short-name } gerir þér kleift að tengjast öllum þeim fréttahópum sem þig lystir.
import-title = Flytja inn frá öðru forriti
import-paragraph = { -brand-short-name } gerir þér kleift að flytja inn póstskilaboð, færslur í nafnaskrám, streymisáskriftir, kjörstillingar og/eða síur úr öðrum póstforritum og algengum nafnaskrársniðum.
import-paragraph2 = { -brand-short-name } gerir þér kleift að flytja inn póstskilaboð, færslur í nafnaskrám, streymisáskriftir, kjörstillingar og/eða síur úr öðrum póstforritum og algengum nafnaskrársniðum.
import-label = Flytja inn
    .aria-label = Flytja inn gögn úr öðrum forritum
about-paragraph = Thunderbird er með opinn kóða og fremst í flokki fyrir tölvupóstforrit og dagatal fyrir allar gerðir tölva og er ókeypis fyrir einstaklinga og fyrirtæki. Okkar takmark er að Thunderbird verði öruggur og ennþá betri. Fjárframlag mun gera okkur kleift að ráða forritara, borga fyrir innviði, og halda áfram að bæta okkur.
about-paragraph-consider-donation = <b>Thunderbird er styrkt af notendum eins og þér! Ef þér líkar við Thunderbird skaltu íhuga að leggja þitt af mörkum.</b> Besta leiðin fyrir þig til að tryggja að Thunderbird sé áfram í boði er að <a data-l10n-name="donation-link">styrkja með fjárframlagi.</a>
explore-link = Kanna eiginleika
support-link = Aðstoð
involved-link = Taka þátt
developer-link = Hjálparskjöl hönnuða
read = Lesa skilaboð
compose = Skrifa ný skilaboð
search = Leita í pósti
filter = Sýsla með póstsíur
nntp-subscription = Sýsla með áskriftir að fréttahópum
rss-subscription = Sýsla með áskriftir að streymum
e2e = Enda-í-enda dulritun
