# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Fáðu nýtt tölvupóstfang frá þjónustuveitu
provisioner-searching-icon =
    .alt = Leitar…
account-provisioner-title = Útbúa nýtt tölvupóstfang
account-provisioner-description = Notaðu trausta samstarfsaðila okkar til að fá nýtt persónulegt og öruggt tölvupóstfang.
account-provisioner-start-help = Leitarorðin sem notuð eru eru send til { -vendor-short-name } (<a data-l10n-name="mozilla-privacy-link">Persónuverndarstefna</a>) og utanaðkomandi tölvupóstþjónustnanna <strong>mailfence.com </strong> (<a data-l10n-name="mailfence-privacy-link">Persónuverndarstefna</a>, <a data-l10n-name="mailfence-tou-link">Notkunarskilmálar</a >) og <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">Persónuverndarstefna</a>, <a data-l10n-name="gandi-tou- link">Notkunarskilmálar</a>) til að finna tiltæk tölvupóstföng.
account-provisioner-mail-account-title = Kauptu nýtt tölvupóstfang
account-provisioner-mail-account-description = Thunderbird hóf samstarf við <a data-l10n-name="mailfence-home-link">Mailfence</a> til að bjóða þér nýjan leynilegan og öruggan tölvupóst. Við teljum að allir ættu að vera með öruggan tölvupóst.
account-provisioner-domain-title = Kauptu tölvupóstfang og þitt eigið lén
account-provisioner-domain-description = Thunderbird fór í samstarf við <a data-l10n-name="gandi-home-link">Gandi</a> til að geta boðið þér sérsniðin lén. Það gerir þér kleift að nota hvaða vistfang sem er á því léni.

## Forms

account-provisioner-mail-input =
    .placeholder = Nafnið þitt, gælunafn eða annað leitarorð
account-provisioner-domain-input =
    .placeholder = Nafnið þitt, gælunafn eða annað leitarorð
account-provisioner-search-button = Leita
account-provisioner-button-cancel = Hætta við
account-provisioner-button-existing = Nota fyrirliggjandi tölvupóstreikning
account-provisioner-button-back = Fara til baka

## Notifications

account-provisioner-fetching-provisioners = Sæki þjónustuaðila...
account-provisioner-connection-issues = Náum ekki sambandi við innskráningarþjónana okkar. Athugaðu tenginguna þína.
account-provisioner-searching-email = Leita að tiltækum tölvupóstreikningum...
account-provisioner-searching-domain = Leita að tiltækum lénum...
account-provisioner-searching-error = Fann engin vistföng til að stinga upp á. Prófaðu að breyta leitarorðum.

## Illustrations

account-provisioner-step1-image =
    .title = Veldu hvaða reikning á að búa til

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Eitt tiltækt póstfang fannst fyrir:
       *[other] { $count } tiltæk póstföng fundust fyrir:
    }
account-provisioner-mail-results-caption = Þú getur prófað að leita eftir gælunafni eða öðru til að fá fleiri niðurstöður.
account-provisioner-domain-results-caption = Þú getur prófað að leita eftir gælunafni eða öðru til að fá fleiri lén.
account-provisioner-free-account = Ókeypis
account-provision-price-per-year = { $price } á ári
account-provisioner-all-results-button = Sýna allar niðurstöður
account-provisioner-open-in-tab-img =
    .title = Opnar í nýjum flipa
