# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-httpsonly-title-alert = Ainult HTTPS-režiimi hoiatus
about-httpsonly-title-connection-not-available = Turvaline ühendus pole saadaval
about-httpsonly-title-site-not-available = Turvaline sait pole saadaval
# Variables:
#   $websiteUrl (String) - Url of the website that failed to load. Example: www.example.com
about-httpsonly-explanation-unavailable2 = Oled turvalisuse suurendamiseks lubanud ainult HTTPS-režiimi ja saidil <em>{ $websiteUrl }</em> puudub HTTPSi tugi.
about-httpsonly-explanation-question = Mis võib seda põhjustada?
about-httpsonly-explanation-nosupport = Tõenäoliselt ei toeta see sait lihtsalt HTTPSi.
about-httpsonly-explanation-risk = Samuti võib asjasse segatud olla ründaja. Kui otsustad saiti siiski külastada, siis ära sisesta tundlikku teavet, nagu paroolid, e-kirjad või krediitkaardiandmed.
about-httpsonly-explanation-continue = Jätkamisel lülitatakse HTTPSi režiim selle saidi jaoks ajutiselt välja.
about-httpsonly-button-continue-to-site = Mine HTTP saidile
about-httpsonly-button-go-back = Mine tagasi
about-httpsonly-link-learn-more = Rohkem teavet…

## Suggestion Box that only shows up if a secure connection to www can be established
## Variables:
##   $websiteUrl (String) - Url of the website that can be securely loded with these alternatives. Example: example.com

about-httpsonly-suggestion-box-header = Võimalik alternatiiv
about-httpsonly-suggestion-box-www-text = Aadressil <em>www.{ $websiteUrl }</em> on olemas turvaline versioon. Võid külastada seda lehte <em>{ $websiteUrl }</em> asemel.
about-httpsonly-suggestion-box-www-button = Mine aadressile www.{ $websiteUrl }
