# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = About Glean
about-glean-description = The <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> is a data collection library used in Mozilla products. This page is for developers and testers who need to <a data-l10n-name="fog-debug-doc-link">configure debugging and logging state in the Glean SDK</a>.
about-glean-warning = Misusing this interface may crash { -brand-short-name }.
tag-pings-label = Tag all sent pings with this tag
log-pings-label = Log ping payload before sending?
send-pings-label = Send the named ping
controls-button-label = Submit Settings
