# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Активує підтримку експериментальної функції CSS Masonry Layout. Перегляньте <a data-l10n-name="explainer">пояснення</a> для отримання професійного опису функції. Залишайте свої відгуки та коментарі в <a data-l10n-name="w3c-issue">цій темі на GitHub</a> або <a data-l10n-name="bug">цьому звіті</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-cascade-layers =
    .label = CSS: Каскадні шари
experimental-features-css-cascade-layers-description = Вмикає підтримку каскадних шарів CSS. Докладніше у <a data-l10n-name="spec">специфікації поточного процесу</a>. У разі проблем, спричинених цією можливістю, напишіть про помилку, заблокувавши <a data-l10n-name="bugzilla">запит 1699215</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Цей новий API забезпечує низькорівневу підтримку для обчислень та візуалізації графіки за допомогою <a data-l10n-name="wikipedia">Графічного блоку обробки даних (GPU)</a> пристрою або комп'ютера користувача. <a data-l10n-name="spec">Специфікація</a> досі розробляється. Докладніше про <a data-l10n-name="bugzilla">ваду 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Якщо цю функцію увімкнено, { -brand-short-name } підтримує формат файлу зображень AV1 (AVIF). Це формат файлу нерухомого зображення, який використовує можливості алгоритмів стиснення відео AV1 для зменшення розміру зображення. Докладніше про <a data-l10n-name="bugzilla">ваду 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Медіа: JPEG XL
experimental-features-media-jxl-description = Увімкнення цієї функції активує в { -brand-short-name } підтримку формату JPEG XL (JXL). Це вдосконалений формат файлів зображень, який підтримує перетворення без втрат з традиційних файлів JPEG. Для докладної інформації дивіться <a data-l10n-name="bugzilla">bug 1539075</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Наша реалізація глобального атрибута <a data-l10n-name="mdn-inputmode">inputmode</a> оновлено відповідно до <a data-l10n-name="whatwg">специфікації WHATWG</a>, але нам ще потрібно внести інші зміни, як-от зробити їх доступними для змістовного вмісту Докладніше про <a data-l10n-name="bugzilla">ваду 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Додавання конструктора до інтерфейсу <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> та різноманітних пов'язаних з цим змін дозволяє безпосередньо створювати нові таблиці стилів, не додаючи таблиці до HTML. Це значно спрощує створення таблиць стилів багаторазового використання для застосування з <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Докладніше про <a data-l10n-name="bugzilla">ваду 1520690</a>.
experimental-features-devtools-color-scheme-simulation =
    .label = Інструменти розробника: Моделювання кольорової схеми
experimental-features-devtools-color-scheme-simulation-description = Додає можливість імітувати різні кольорові схеми, що дозволяє перевірити медіазапити <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Користування цим медіазапитом дозволяє вашій таблиці стилів змінюватися залежно від вибраного користувачем світлого або темного інтерфейсу. Ця функція дозволяє перевірити свій код, не змінюючи налаштувань браузера (або операційної системи, якщо браузер дотримується налаштувань системної кольорової схеми). Докладніше про <a data-l10n-name="bugzilla1">вади 1550804</a> та <a data-l10n-name="bugzilla2">1137699</a>.
experimental-features-devtools-execution-context-selector =
    .label = Інструменти розробника: Вибір контексту виконання
experimental-features-devtools-execution-context-selector-description = Ця функція додає кнопку до командного рядка консолі, яка дозволяє змінювати контекст, в якому буде виконуватися введений вираз. Докладніше про <a data-l10n-name="bugzilla1">вади 1605154</a> та <a data-l10n-name="bugzilla2">1605153</a>.
experimental-features-devtools-compatibility-panel =
    .label = Інструменти розробника: Панель сумісності
experimental-features-devtools-compatibility-panel-description = Бічна панель сторінки "Інспектор", яка показує інформацію про стан сумісності вашої програми у різних браузерах. Докладніше про <a data-l10n-name="bugzilla">ваду 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Куки: SameSite=Lax типово
experimental-features-cookie-samesite-lax-by-default2-description = Розглядати куки як “SameSite=Lax” типово, якщо немає вказаного атрибута “SameSite”. Розробники повинні під'єднатися до поточного статусу без обмеженого використання, чітко стверджуючи “SameSite=None”.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Куки: SameSite=None потребує захищеного атрибута
experimental-features-cookie-samesite-none-requires-secure2-description = Куки з атрибутом “SameSite=None” потребують захищеного атрибута. Ця функція вимагає типово “Куки: SameSite=Lax типово”.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Кеш запуску about:home
experimental-features-abouthome-startup-cache-description = Кешування початкового вмісту about:home, який типово завантажується під час запуску. Метою кешування є пришвидшення запуску.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Обробляйте куки з одного домену, але за різними схемами (наприклад, http://example.com та https://example.com) як cross-site замість same-site. Поліпшує безпеку, але може призвести до несправностей.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Інструменти розробника: зневадження Service Worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Вмикає експериментальну підтримку Service Workers на панелі Зневадження. Ця функція може уповільнити роботу інструментів розробника та збільшити споживання пам'яті.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Загальне вимкнення звуку WebRTC
experimental-features-webrtc-global-mute-toggles-description = Додати елементи керування до загального індикатора спільного доступу WebRTC, які дозволять користувачам глобально вимкнути мікрофон і канали камери.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Блокування Win32k
experimental-features-win32k-lockdown-description = Вимкнути використання Win32k API у вкладках браузера. Підвищує безпеку, але наразі може бути нестабільним чи проблемним. (Лише Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Увімкнути Warp - проєкт для вдосконалення швидкодії та використання пам'яті JavaScript.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (ізоляція сайту)
experimental-features-fission-description = Fission (ізоляція сайту) — експериментальна функція { -brand-short-name }, яка забезпечує додатковий рівень захисту від помилок безпеки. Виділяючи кожен сайт в окремий процес, Fission ускладнює зловмисним вебсайтам доступ до відомостей з інших сторінок, які ви відвідуєте. Це велика архітектурна зміна в { -brand-short-name } і ми вдячні Вам за випробування та звіти про будь-які помилки, з якими ви можете зіткнутися. Докладніше у <a data-l10n-name="wiki">вікі</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Підтримка кількох вікон зображення в зображенні
experimental-features-multi-pip-description = Експериментальна підтримка одночасного відкриття кількох вікон Зображення в зображенні.
# Search during IME
experimental-features-ime-search =
    .label = Панель адреси: показувати результати під час складання IME
experimental-features-ime-search-description = IME (редактор методу введення) — це засіб, який дозволяє вводити складні символи, такі як ті, що використовуються у східноазійських або індійських писемних мовах, за допомогою стандартної клавіатури. Увімкнення цього експерименту залишатиме панель адреси відкритою, показуючи результати пошуку та пропозиції, одночасно використовуючи IME для введення тексту. Зверніть увагу, що IME може показувати панель, яка перекриває результати панелі адреси, тому це налаштування пропонується лише для IME, який не використовує цей тип панелі.
# Firefox 100
experimental-features-firefox-100 =
    .label = Рядок User-Agent { -brand-product-name } 100
experimental-features-firefox-100-description = Дозвольте { -brand-short-name } надсилати вебсайтам рядок User-Agent, який видає себе за { -brand-product-name } версії 100. Використовуйте цей параметр, щоб перевірити чи вебсайти працюватимуть, якщо версія { -brand-short-name } перетне тризначне число. Випуск справжньої версії { -brand-product-name } 100 запланований на травень 2022 року, тому почніть тестувати вебсайти вже зараз.
