# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Acerca de sus derechos
rights-intro = { -brand-full-name } es software libre y de código abierto, construido por una comunidad de miles de personas de todo el mundo. Estas son algunas cosas que debes saber:
rights-intro-point-1 = { -brand-short-name } esta disponible bajo los terminos de <a data-l10n-name="mozilla-public-license-link">Licencia Pública de Mozilla</a>. Esto quiere decir que puedes usar, copiar y distribuir { -brand-short-name } a otros. Eres tambien bienvenido a modificar el código fuente de { -brand-short-name } como tu quieras para satisfacer tus necesidades. La licencia pública de Mozilla tambien te da el derecho de distribuir tus versiones modificadas.
rights-intro-point-2 =
    No se concede ningún derecho de marca o licencia sobre las marcas registradas de
    la Fundación Mozilla o cualquier parte, incluyendo sin limitación el
    nombre o el logotipo de Thunderbird. Información adicional sobre las marcas se pueden encontrar
    <a data-l10n-name="mozilla-trademarks-link">aquí</a>.
rights-intro-point-3 = Algunas de las características en { -brand-short-name }, tales como el informe de fallos, te darán la opción de proporcionar información a { -vendor-short-name }. Al optar por enviar tus comentarios, le das a { -vendor-short-name } permiso para utilizar la retroalimentación para mejorar sus productos, publicar tus comentarios en sus sitios Web y distribuir los comentarios.
rights-intro-point-4 = Cómo usamos tu información personal y comentarios presentados a { -vendor-short-name } a través de { -brand-short-name } se describe en el <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } Política de Privacidad</a>.
rights-intro-point-4-unbranded = Cualquier política de privacidad aplicable a este producto debe estar listada aquí.
rights-intro-point-5 = Algunas características de { -brand-short-name } hacen uso de servicios de información en la web, sin embargo, no podemos garantizar que son 100% exactos o libres de errores. Más detalles, incluyendo información sobre cómo deshabilitar las características que utilizan estos servicios, pueden encontrarse en los <a data-l10n-name="mozilla-service-terms-link">términos del servicio</a>.
rights-intro-point-5-unbranded = Si este producto incorpora servicios web, cualesquiera términos del servicio aplicables a los servicios deberían enlazarse en los <a data-l10n-name="mozilla-website-services-link">Servicios de sitios web</a> sección.
rights-intro-point-6 = Para reproducir ciertos tipos de contenido de video, { -brand-short-name } descarga ciertos módulos de descifrado de contenido de terceros.
rights-webservices-header = Servicios de información de { -brand-full-name } basados en web
rights-webservices = { -brand-full-name } utiliza los servicios de información basados ​​en la web ("Servicios") para proporcionar algunas de las características previstas para su uso con esta versión binaria de { -brand-short-name } bajo los términos que se describen a continuación. Si no desea utilizar uno o más de los servicios o los términos siguientes son inaceptables, puede desactivar la función o Servicio(s). Las instrucciones sobre cómo desactivar una característica o servicio en particular se pueden encontrar<a data-l10n-name="mozilla-disable-service-link">aquí</a>. Otras características y servicios pueden ser deshabilitadas en las preferencias de la aplicación.
rights-webservices2 = { -brand-full-name } utiliza los servicios de información basados ​​en la web ("Servicios") para proporcionar algunas de las características previstas para su uso con esta versión binaria de { -brand-short-name } bajo los términos que se describen a continuación. Si no desea utilizar uno o más de los servicios o los términos siguientes son inaceptables, puede desactivar la función o Servicio(s). Las instrucciones sobre cómo desactivar una característica o servicio en particular se pueden encontrar<a data-l10n-name="mozilla-disable-service-link">aquí</a>. Otras características y servicios pueden ser deshabilitadas en los ajustes de la aplicación.
rights-locationawarebrowsing = <strong>Ubicación consciente de navegación: </strong>siempre es opt-in. No hay información de ubicación y es siempre enviado tu permiso. Si deseas  desactivar la función por completo, sigue estos pasos:
rights-locationawarebrowsing-term-1 = En la barra de direcciones, escribe <code>about:config</code>
rights-locationawarebrowsing-term-2 = Tipo geo.enabled
rights-locationawarebrowsing-term-3 = Doble clic en la preferencia geo.enabled
rights-locationawarebrowsing-term-4 = Ubicación consciente de navegación está desactivada
rights-webservices-unbranded = Una visión general de los servicios de sitio web que el producto incorpora, junto con instrucciones sobre como desactivarlos, si aplican, deben incluirse aquí.
rights-webservices-term-unbranded = Todos los términos de servicio aplicables para este producto deben estar listadas aquí.
rights-webservices-term-1 = { -vendor-short-name } y sus contribuidores, licenciatarios y socios de trabajos que proporcionan los servicios más preciosa y actualizados. Sin embargo no podemos garantizar que esta información sea comprensible y sin errores. Por ejemplo, la navegación segura no puede identificar algunos sitios riesgosos y pueden identificar algunos sitios seguros por error y el servicio de reconocimiento de ubicación de todas las localidades devueltas por nuestros proveedores de servicio son sólo estimaciones y ni nosotros ni nuestros proveedores de servicios garantiza la precisión de las localidades previstas.
rights-webservices-term-2 = { -vendor-short-name } puede suspender o modificar los Servicios a su disposición.
rights-webservices-term-3 = Puedes usar estos servicios con la versión correspondiente de { -brand-short-name }, y { -vendor-short-name } te otorga derechos para hacerlo.  { -vendor-short-name } y sus licenciatarios se reservan el resto de derechos de los servicios.  Estos términos no limitan ningún derecho otorgado por las licencias de código abierto aplicables a { -brand-short-name } y las versiones del código fuente correspondiente de { -brand-short-name }.
rights-webservices-term-4 = <strong>Los servicios se proporcionan "tal cual". { -vendor-short-name }, sus colaboradores, licenciatarios y distribuidores, renuncian a todas las garantías, expresas o implícitas, incluyendo, sin limitación, las garantías de que los servicios son comercializables y aptos para sus fines particulares. Usted asume todo el riesgo en cuanto a la selección de los servicios para sus fines y en cuanto a la calidad y el rendimiento de los Servicios. Algunas jurisdicciones no permiten la exclusión o limitación de garantías implícitas, por lo que esta renuncia puede no ser aplicable en su caso.</strong>
rights-webservices-term-5 = <strong>Con excepción de lo requerido por la ley, { -vendor-short-name }, sus colaboradores, licenciatarios y distribuidores no serán responsables por ningún daño indirecto, especial, incidental, consecuente, punitivo o ejemplar que surja de alguna manera relacionados con el uso de { -brand-short-name } y los servicios. La responsabilidad colectiva en virtud de estos términos no excederá los $500 (quinientos dólares). Algunas jurisdicciones no permiten la exclusión o limitación de ciertos daños, por lo que esta exclusión y limitación puede no aplicarse a ti.</strong>
rights-webservices-term-6 = { -vendor-short-name } puede actualizar estos términos cuando sea necesario de vez en cuando. Estos términos no pueden ser modificados o cancelados sin un acuerdo por escrito de { -vendor-short-name }.
rights-webservices-term-7 = Estos términos se rigen por las leyes del estado de California, EE.UU. excluyendo sus conflictos de disposiciones legales. Si alguna parte de estos términos es considerada inválida o no ejecutable, las partes restantes permanecerán en pleno vigor y efecto. En el caso de un conflicto entre la traducción de estos términos y la versión en inglés, la versión en inglés prevalecerá.
