# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Bienvenido a { -brand-full-name }
account-settings = Configuraciones de la cuenta
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Elegir que configurar
        [one] Configurar otra cuenta
       *[other] Configurar otra cuenta
    }
about-title = Acerca de { -brand-full-name }
resources-title = Recursos
release-notes =
    .title = Acerca de { -brand-full-name }
email-label = Correo electrónico
    .aria-label = Conectar con tu cuenta de correo electrónico existente
email-description = { -brand-short-name } te permite conectarte a tu cuenta de correo electrónico existente para leer tus correos de manera conveniente y eficiente desde la aplicación.
calendar-label = Calendario
    .aria-label = Crear un nuevo calendario
calendar-description = { -brand-short-name } te permite manejar eventos y te mantiene organizado. Conectarse a un calendario remoto mantendrá todos tus eventos sincronizados en todos tus dispositivos.
chat-label = Chat
    .aria-label = Conectar con tu cuenta de chat
chat-description = { -brand-short-name } te permite conectarte a múltiples cuentas de mensajería instantánea, ofreciendo soporte para varias plataformas.
filelink-label = Filelink
    .aria-label = Configurar Filelink
filelink-description = { -brand-short-name } te permite configurar una cuenta en la nube de Filelink para enviar fácilmente archivos adjuntos de gran tamaño.
addressbook-label = Libreta de direcciones
    .aria-label = Crear una nueva libreta de direcciones
addressbook-description = { -brand-short-name } te permite organizar todos tus contactos en una libreta de direcciones. También puedes conectarte a una libreta de direcciones remota para mantener todos tus contactos sincronizados
feeds-label = Canales
    .aria-label = Conectarse con canales
feeds-description = { -brand-short-name } te permite conectarte a feeds RSS/Atom para recibir noticias y actualizaciones de todo el mundo.
newsgroups-label = Grupos de noticias
    .aria-label = Conectar con grupos de noticias
newsgroups-description = { -brand-short-name } te permite conectarte a todos los grupos de noticias que quieras.
import-title = Importar desde otro programa
import-paragraph = { -brand-short-name } te permite importar mensajes de correo, entradas de la libreta de direcciones, suscripciones a canales, preferencias y/o filtros de otros programas de correo y formatos de libreta de direcciones comunes.
import-paragraph2 = { -brand-short-name } te permite importar mensajes de correo, entradas de la libreta de direcciones, suscripciones a canales, configuración y/o filtros desde otros programas de correo y formatos comunes de libreta de direcciones.
import-label = Importar
    .aria-label = Importar datos de otros programas
about-paragraph = Thunderbird es un destacado cliente de correo electrónico y calendario para todas las plataformas de código abierto, gratuito, tanto para su uso empresarial como el personal. Queremos mantenerlo seguro y que mejore cada día. Una donación nos permitirá contratar desarrolladores, pagar por la infraestructura y mantenerlo siempre al día.
about-paragraph-consider-donation = <b>¡Thunderbird está financiado por usuarios como tú! Si te gusta Thunderbird, considera hacer una donación.</b> La mejor manera de asegurarse de que Thunderbird permanezca disponible es <a data-l10n-name="donation-link"> hacer una donación</a>.
explore-link = Explorar características
support-link = Soporte
involved-link = Involúcrate
developer-link = Documentación para desarrolladores
read = Leer mensajes
compose = Escribir un nuevo mensaje
search = Buscar mensajes
filter = Administrar filtros de mensajes
nntp-subscription = Administrar suscripciones a grupos de noticias
rss-subscription = Administrar suscripciones a canales
e2e = Cifrado de extremo a extremo
