# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Zmóžnja pódpěru za eksperimentelnu funkciju CSS Masonry Layout. Glejśo <a data-l10n-name="explainer">wujasnjeński bok</a> za  dobre wopisanje toś teje funkcije. Aby komentary zawóstajił, komentěrujśo pšosym w <a data-l10n-name="w3c-issue">toś tym GitHub issue</a> abo <a data-l10n-name="bug">toś tej zmólkowej rozpšawje</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-cascade-layers =
    .label = CSS: Kaskadowe rowniny
experimental-features-css-cascade-layers-description = Zmóžnja pódpěru za kaskadowe rowniny CSS. Glejśo <a data-l10n-name="spec">specifikaciju, kótaraž jo w źěle</a> za drobnostki. Pišćo rozpšawy za zmólki, kótarež <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1699215</a> blokěruju, za zmólki, kótarež toś tu funkciju nastupaju.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Toś ten nowy API pódpěru na niskim niwowje za wuwjeźenje woblicenjow a grafiske zwobraznjenje z  <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> rěda abo licadła wužywarja bitujo. <a data-l10n-name="spec">Specifikacija</a> jo hyšći w źěle. Dalšne informacije dostanjośo w <a data-l10n-name="bugzilla">zmólkowej rozpšawje 1602129</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Media: AVIF
experimental-features-media-avif-description = Gaž toś ta funkcija jo zmóžnjona, pódpěra { -brand-short-name } AVIF-format (AV1 Image File). To jo datajowy format za stojece wobraze, kótaryž zamóžnosći algoritmusow wideokompriměrowanja AV1 wužywa, aby wobrazowu wjelikosć reducěrował. Glejśo <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1443863</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Medije: JPEG XL
experimental-features-media-jxl-description = Gaž toś ta funkcija jo zmóžnjona, { -brand-short-name } format JPEG XL (XL) pódpěra. To jo pólěpšony datajowy format za wobraze, kótaryž pśechad bźez tšuśow wót tradicionelnych JPEG-datajow pódpěra. Glejśo <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1539075</a> za dalšne drobnostki.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Naša implementacija globalnego atributa <a data-l10n-name="mdn-inputmode">inputmode</a> jo se zaktualizěrowała pó <a data-l10n-name="whatwg">WHATWG-specifikaciji</a>, ale musymy hyšći dalšne změny pśewjasć, kaž na pś.  k-dispoziciji-stajenje wopśimjeśa „contenteditable“. Glejśo <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1205133</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Pśidawanje konstruktora interfejsoju <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> ako teke wjelerakosći pśisłušnych změnow zmóžnja, nowe stilowe pśedłogi direktnje napóraś, bźez togo aby wy musał pśedłogu HTML pśidaś. To wólažcujo, zasej wužywajobne stilowe pśedłogi za wužywanje z <a data-l10n-name="mdn-shadowdom">Shadow DOM</a> napóraś. Glejśo <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1520690</a> za dalšne drobnostki.
experimental-features-devtools-color-scheme-simulation =
    .label = Wuwijaŕske rědy: Simulacija barwneje šemy
experimental-features-devtools-color-scheme-simulation-description = Pśidawa opciju za simulěrowanje rozdźělnych barwowych šemow, kótaraž wam zmóžnja, medijowe napšašowanja <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a> testowaś. Z toś tym medijowym napšašowanim móžo waša stilowa pśedłoga na to reagěrowaś, lěc wužywaŕ swětły abo śamny wužywaŕski pówjerch preferěrujo. Toś ta funkcija wam zmóžnja, waš kod testowaś, bźez togo, aby wy musał nastajenja w swójom wobhlědowaku (abo źěłowem systemje, jolic wobglědowak se pó nastajenju barwoweje šemy systema ma). Glejśo <a data-l10n-name="bugzilla1">zmólkowu rozpšawu 1550804</a> a <a data-l10n-name="bugzilla2">zmólkowu rozpšawu 1137699</a> za dalšne drobnostki.
experimental-features-devtools-execution-context-selector =
    .label = Wuwijaŕske rědy: Selektor wuwjeźeńskego konteksta
experimental-features-devtools-execution-context-selector-description = Toś ta funkcija tłocašk w pśikazowej smužce konsole pokazujo, z kótarymž móžośo kontekst změniś, w kótaremž se ma zapódany wuraz wuwjasć. Glejśo <a data-l10n-name="bugzilla1">zmólka 1605154</a> a <a data-l10n-name="bugzilla2">zmólka 1605153</a> za dalšne drobnostki.
experimental-features-devtools-compatibility-panel =
    .label = Wuwijaŕske rědy: Wokno kompatibelnosći
experimental-features-devtools-compatibility-panel-description = Bocnica za inspektor bokow, kótaraž wam informacije wó statusu kompatibelnosći cross-browser wašogo nałoženja pokazujo. Glejśo <a data-l10n-name="bugzilla">zmólkowu rozpšawu 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookieje: SameSite=Lax by default
experimental-features-cookie-samesite-lax-by-default2-description = Wobchadajśo z cookiejami ako „SameSite=Lax“ pó standarźe, jolic atribut „SameSite“ njejo pódany. Wuwijarje muse eksplicitnje „SameSite=None“ nastajiś, aby aktualnemu statusoju quo njewobgranicowanego wužywanja pśigłosowali.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookieje: SameSite=None atribut secure trjeba
experimental-features-cookie-samesite-none-requires-secure2-description = Cookieje z atributom “SameSite=None” se atribut secure pominaju. Toś ta funkcija se pó standarźe „Cookieje: SameSite=Lax“ pomina.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = startowy pufrowak about:home
experimental-features-abouthome-startup-cache-description = Pufrowak za zachopny dokument about:home, kótaryž se pó standarźe pśi startowanju zacytujo. Zaměr pufrowaka jo, startowe wugbaśe pólěpšyś.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookieje: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Z cookiejami z teje samskeje domeny, ale z rozdźělnymi šemami (na pś. http://example.com a https://example.com) ako sedła pśesegajuce cookieje město togo samskego sedła wobchadaju. Pólěpšujo wěstotu, ale zawinujo potencielnje problemy.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Wuwijaŕske rědy: Pytanje zmólkow ze service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Zmóžnja eksperimentelnu pódpěru za service worker we woknje Pytanje za zmólkami. Toś ta funkcija móžo wuwijaŕske rědy spómałšyś a pśetrjebu składa pówušyś.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Globalne wóźenje za wušaltowanje zuka WebRTC
experimental-features-webrtc-global-mute-toggles-description = Pśidajśo globalnemu źěleńskemu pokazoju WebRTC wóźeńske elementy, kótarež wužywarjam zmóžnjaju, zuk jich kanalow mikrofona a kamery globalnje wušaltowaś.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Win32k-blokěrowanje
experimental-features-win32k-lockdown-description = Wužywanje API Win32k w rejtarkach wobglědowaka znjemóžniś. Bitujo pówušenje wěstoty, ale móžo tuchylu njestabilne abo zmólkate byś. (Jano Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Zmóžniśo Warp, projekt za pólěpšanje wugbaśa a wužywanja składa JavaScript,
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (sedłowa izolacija)
experimental-features-fission-description = Fission (izolěrowanje websedłow) jo eksperimentelna funkcija w { -brand-short-name }, aby pśidatnu šćitnu warštwu pśeśiwo wěstotnym zmólkam k dispoziciji stajiła. Pśez izolěrowanje kuždego sedła w separatnem procesu, Fission złosnym websedłam póśěežujo, pśistup k informacijam z drugich bokow dostaś, ku kótarymž se woglědujośo. To jo wjelika architekturna změna w { -brand-short-name } a wjaselimy se, jolic wšykne problemy, na kótarež starcyjośo, testujośo a k wěsće dajośo. Za dalšne drobnostki glejśo <a data-l10n-name="wiki">wiki</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Wěcejrazowa pódpěra wobraz-we-wobrazu
experimental-features-multi-pip-description = Eksperimentelna pódpěra za rownocasne wócynjanje někotarych woknow wobraz-we-wobrazu.
# Search during IME
experimental-features-ime-search =
    .label = Adresowe pólo: wuslědki za IME-kompoziciju pokazaś
experimental-features-ime-search-description = IME (Input Method Editor, editor zapódawańskeje metody)  jo rěd, kótaryž wam zmóžnja, kompleksne symbole zapódaś, ako se na pśikład w pódzajtšnoaziskich abo indiskich rěcach wužywaju, z pomocu standardneje tastatury. Gaž toś ten eksperiment zmóžnjaśo, wóstawa wokno adresowego póla wócynjone, kótarež pytańske wuslědki a naraźenja pokazujo, mjaztym až tekst z pomocu IME zapódawaśo. Źiwajśo na to, až IME mógał wokno pokazaś, kótarež wuslědki adresowego póla wopśimujo, togodla se toś to nastajenje jano za IME naraźujo, kótaryž toś ten typ wokna njewužywa.
# Firefox 100
experimental-features-firefox-100 =
    .label = Znamuškowy rjeśazk user-agent { -brand-product-name } 100
experimental-features-firefox-100-description = Dajśo { -brand-short-name } websedłam znamuškowy rjeśazk user agent słaś, kótaryž se wugranja, až se wo wersiju 100 { -brand-product-name } jadna. Wužywajśo toś to nastajenje, aby testował, lěc se websedła wobškóźuju, gaž { -brand-short-name } ma tśiměstnowy wersijowy numer. Wózjawjenje napšawdnego { -brand-product-name } 100 jo za maj 2022 planowane, testujśo pótakem swóje websydła něnto!
