# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Welcome to { -brand-full-name }
account-settings = Account Settings
#   $accounts (Number) - the number of configured accounts
setup-title = Choose What to Set Up
about-title = About { -brand-full-name }
resources-title = Resources
release-notes =
    .title = About { -brand-full-name }
email-label = Email
    .aria-label = Connect to your existing email account
email-description = { -brand-short-name } lets you connect to your existing email account, to read your emails conveniently and efficiently from within the application.
calendar-label = Calendar
    .aria-label = Create a new calendar
calendar-description = { -brand-short-name } lets you handle events and keeps you organized. Connecting to a remote calendar will keep all your events in sync across all your devices.
chat-label = Chat
    .aria-label = Connect to your chat account
chat-description = { -brand-short-name } lets you connect to multiple instant messaging accounts, offering support for various platforms.
filelink-label = Filelink
    .aria-label = Set up Filelink
filelink-description = { -brand-short-name } lets you set up a convenient Filelink cloud account to easily send large attachments.
addressbook-label = Address Book
    .aria-label = Create a new address book
addressbook-description = { -brand-short-name } lets you organize all your contacts in an address book. You can also connect to a remote address book to keep all your contacts in sync.
feeds-label = Feeds
    .aria-label = Connect to feeds
feeds-description = { -brand-short-name } lets you connect to RSS/Atom feeds to get news and updates from all around.
newsgroups-label = Newsgroups
    .aria-label = Connect to a newsgroup
newsgroups-description = { -brand-short-name } lets you connect to all the newsgroups you want.
import-title = Import from Another Program
import-paragraph = { -brand-short-name } lets you import mail messages, address book entries, feed subscriptions, preferences, and/or filters from other mail programs and common address book formats.
import-paragraph2 = { -brand-short-name } lets you import mail messages, address book entries, feed subscriptions, settings, and/or filters from other mail programs and common address book formats.
import-label = Import
    .aria-label = Import data from other programs
about-paragraph = Thunderbird is the leading open source, cross-platform email and calendaring client, free for business and personal use. We want it to stay secure and become even better. A donation will allow us to hire developers, pay for infrastructure, and continue to improve.
about-paragraph-consider-donation = <b>Thunderbird is funded by users like you! If you like Thunderbird, please consider making a donation.</b> The best way for you to ensure Thunderbird remains available is to <a data-l10n-name="donation-link"> make a donation</a>.
explore-link = Explore Features
support-link = Support
involved-link = Get Involved
developer-link = Developer Documentation
read = Read messages
compose = Write a new message
search = Search messages
filter = Manage message filters
nntp-subscription = Manage newsgroup subscriptions
rss-subscription = Manage feed subscriptions
e2e = End-to-end Encryption
