# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Zure eskubideei buruz
rights-intro = { -brand-full-name } kode irekiko software librea da, mundu osoko milaka pertsonek osatutako komunitate batek eraikia. Badira jakin beharko zenituzkeen gauza batzuk:
rights-intro-point-1 = { -brand-short-name } zure eskura dago <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a> lizentziaren baldintzapean. Honek esan nahi du, { -brand-short-name } erabili, kopiatu eta besteei bana diezaiokezula. Era berean, { -brand-short-name }(r)en iturburu-kodea alda dezakezu zure beharrizanetara moldatzeko. Egindako aldaketak banatzeko eskubidea ematen dizu Mozilla Public License-k.
rights-intro-point-2 = Ez zaizu ematen Mozilla Fundazioaren edo edozein alderdiren erregistratutako marken eskubiderik ezta hauen gaineko lizentziarik ere, Thunderbird izena edo logoak barne. Erregistratutako marken gaineko informazio gehiago <a data-l10n-name="mozilla-trademarks-link">hemen</a> topa daiteke.
rights-intro-point-3 = { -brand-short-name }(e)ko hainbat funtzionaltasunek, hala nola hutsegiteen berriemaileak, { -vendor-short-name }ri iritzia emateko aukera ematen dizute. Iritzia bidaltzea aukeratuz gero, { -vendor-short-name }ri baimena ematen diozu iritzi hori erabiltzeko bere produktuak hobetzeko, bere webguneetan eta banatzeko.
rights-intro-point-4 = { -brand-short-name } bidez { -vendor-short-name }ri bidalitako zure informazio pertsonala eta iritzia nola erabiltzen dugun <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name }(r)en pribatutasun-politika</a>n deskribatzen da.
rights-intro-point-4-unbranded = Produktu honi aplika dakioken edozein pribatutasun-politika hemen agertu beharko litzateke.
rights-intro-point-5 = { -brand-short-name }(r)en zenbait funtzionaltasunek web bidezko informazio-zerbitzuak erabiltzen dituzte; halere, ezin dugu ziurtatu %100ean errorerik gabeak direnik. Xehetasun gehiago, funtzionaltasunak desgaitzearen ingurukoa barne, <a data-l10n-name="mozilla-service-terms-link">zerbitzuaren baldintzetan</a> aurki daiteke.
rights-intro-point-5-unbranded = Produktu honek web zerbitzuak badakartza, aplika dakizkioken zerbitzuaren baldintzak <a data-l10n-name="mozilla-website-services-link">Webguneen Zerbitzuak atalean</a> azaldu behar litzake.
rights-intro-point-6 = Zenbait bideo-eduki mota erreproduzitu ahal izateko, { -brand-short-name }(e)k edukien deszifratze-modulu zehatz batzuk deskargatzen ditu hirugarrengoengatik.
rights-webservices-header = { -brand-full-name } web bidezko informazio-zerbitzuak
rights-webservices = { -brand-full-name }(e)k web bidezko informazio-zerbitzuak erabiltzen ditu ("Zerbitzuak") { -brand-short-name }(r)en bertsio bitar honetako funtzionaltasun batzuk hornitzeko, azpian zehaztutako baldintzapean. Ez baduzu Zerbitzu bat edo gehiago erabili nahi edo azpiko baldintzak onargaitzak badira, funtzionaltasuna edo Zerbitzua(k) desgai dezakezu/ditzakezu. Funtzionaltasun konkretuak edo Zerbitzuak desgaitzeko argibideak<a data-l10n-name="mozilla-disable-service-link">hemen</a> aurki daitezke. Beste eginbide eta zerbitzuak aplikazioaren hobespenetan desgaitu daitezke.
rights-webservices2 = { -brand-full-name }(e)k web bidezko informazio-zerbitzuak erabiltzen ditu ("Zerbitzuak") { -brand-short-name }(r)en bertsio bitar honetako funtzionaltasun batzuk hornitzeko, azpian zehaztutako baldintzapean. Ez baduzu Zerbitzu bat edo gehiago erabili nahi edo azpiko baldintzak onargaitzak badira, funtzionaltasuna edo Zerbitzua(k) desgai dezakezu/ditzakezu. Funtzionaltasun konkretuak edo Zerbitzuak desgaitzeko argibideak<a data-l10n-name="mozilla-disable-service-link">hemen</a> aurki daitezke. Beste eginbide eta zerbitzuak aplikazioaren ezarpenetan desgaitu daitezke.
rights-locationawarebrowsing = <strong>Kokalekuaren araberako nabigatzea:</strong>aukerazkoa da beti. Inoiz ez da kokalekuaren inguruko informaziorik bidaliko zure baimenik gabe. Funtzionaltasuna erabat desgaitu nahi baduzu, jarraitu ondorengo urratsak:
rights-locationawarebrowsing-term-1 = URL barran, idatzi<code>about:config</code>
rights-locationawarebrowsing-term-2 = Idatzi geo.enabled
rights-locationawarebrowsing-term-3 = Egin klik bikoitza geo.enabled hobespenean
rights-locationawarebrowsing-term-4 = Kokalekuaren araberako nabigatzea desgaituta dago orain
rights-webservices-unbranded = Produktuak dakartzan webguneen zerbitzuen ikuspegi orokorra, hauek ezgaitzeko azalpenekin batera agertu behar lirateke hemen.
rights-webservices-term-unbranded = Produktuari aplika lekizkioken edozein baldintza hemen agertu behar lirateke.
rights-webservices-term-1 = { -vendor-short-name }k eta bere laguntzaile, legelari eta bazkideek ahalik eta Zerbitzurik zehatz eta eguneratuenak eskaintzeko lan egiten dute. Halere, ezin dugu ziurtatu informazio hau zehatza eta errorerik gabea denik. Adibidez, nabigatze seguruaren Zerbitzuak ezin ditu zenbait gune arriskutsu identifikatu eta beste batzuk identifika litzake errorez. Kokalekuaren araberako Zerbitzuak itzultzen dituen kokalekuak hornitzaileek emandako estimazioak dira bakarrik eta ez guk ez hornitzaileek ez dugu bermatzen emandako kokalekuen zehaztasuna.
rights-webservices-term-2 = { -vendor-short-name }(e)k nahieran alda edo geldiaraz ditzake Zerbitzuak.
rights-webservices-term-3 = Ongi etorria zara Zerbitzu hauek { -brand-short-name }(r)ekin batera erabiltzeko eta { -vendor-short-name }k horretarako eskubideak ematen dizkizu. { -vendor-short-name } eta bere legelariek gordeta dituzte Zerbitzuaren bestelako eskubideak. Baldintza hauen helburua ez da beste lizentzia askeek emandako eskubideak { -brand-short-name }(e)ra (eta honen ondorengo bertsioetara) murriztea.
rights-webservices-term-4 = <strong>Zerbitzuak bere horretan eskaintzen dira. { -vendor-short-name }(e)k, bere laguntzaileek, legelariek eta banatzaileek ez dute inolako bermerik ematen, espreski edo zeharka, Zerbitzuak zure beharretara moldatuak direnik. Zure esku daude Zerbitzuak erabiltzearen arriskuak, hala nola hauen kalitate eta errendimendua. Zenbait eskumenek ez dute onartzen zeharkako bermeen mugatze edo baztertzea, beraz ezespen honek ez dizu eragingo.</strong>
rights-webservices-term-5 = <strong>Legeak eskatuta ez bada, { -vendor-short-name }, bere laguntzaile, legelari eta banatzaileak ez dira erantzule egingo { -brand-short-name } eta Zerbitzuak erabiltzeak sor litzakeen edozein zeharkako, berezi, bigarren mailako, ondoriozko edo zigortzeko kalteengatik. Baldintza hauen peko zigor komunak ez ditu 500$ gaindituko (bostehun dolar). Zenbait eskumenek ez dute kalte zehatz batzuen bazterketa baimentzen, beraz, bazterketa eta muga honek ez dizu eragingo.</strong>
rights-webservices-term-6 = { -vendor-short-name }(e)k baldintza hauek egunera ditzake beharrezko izanez gero aldian-aldian. Baldintza hauek ezingo dira aldatu edo ezeztatu { -vendor-short-name }(r)en idatzizko onarpenarekin ez bada.
rights-webservices-term-7 = Baldintza hauek AEBtako Kaliforniako estatuaren legeek zuzenduta daude, legearen xedapenen gatazkak baztertuz. Baldintza hauen edozein zati baliogabea edo ezin betearazlea bada, gainerako zatiak indarrean jarraituko dute. Gatazkaren bat egongo balitz baldintza hauek itzulitako bertsioaren eta bertsio ingelesaren artean, bertsio ingelesak aginduko du.
