# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Ενεργοποιεί την υποστήριξη για την πειραματική λειτουργία CSS Masonry Layout. Δείτε την <a data-l10n-name="explainer">επεξήγηση</a> για μια περιγραφή υψηλού επιπέδου της λειτουργίας. Για να παρέχετε σχόλια, σχολιάστε σε <a data-l10n-name="w3c-issue"> αυτό το ζήτημα GitHub</a> ή <a data-l10n-name="bug"> αυτό το σφάλμα </a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-cascade-layers =
    .label = CSS: Cascade Layers
experimental-features-css-cascade-layers-description = Ενεργοποιεί την υποστήριξη για CSS Cascade Layers. Δείτε τις <a data-l10n-name="spec">προδιαγραφές (σε εξέλιξη)</a> για λεπτομέρειες. Για ζητήματα που σχετίζονται με αυτήν τη λειτουργία, αναφέρετε σφάλματα που να αποκλείουν το <a data-l10n-name="bugzilla">σφάλμα 1699215</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Αυτό το νέο API παρέχει υποστήριξη χαμηλού επιπέδου για την εκτέλεση υπολογισμού και απόδοσης γραφικών, χρησιμοποιώντας τη <a data-l10n-name="wikipedia">κάρτα γραφικών (GPU)</a> της συσκευής ή του υπολογιστή του χρήστη. Η <a data-l10n-name="spec">προδιαγραφή</a> είναι υπό επεξεργασία. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1602129</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-avif =
    .label = Πολυμέσα: AVIF
experimental-features-media-avif-description = Με αυτή τη λειτουργία, το { -brand-short-name } υποστηρίζει τη μορφή εικόνας AV1 (AVIF). Πρόκειται για μια μορφή αρχείου ακίνητης εικόνας που αξιοποιεί τις δυνατότητες των αλγορίθμων συμπίεσης βίντεο AV1 για τη μείωση του μεγέθους της. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1443863 </a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Πολυμέσα: JPEG XL
experimental-features-media-jxl-description = Με την ενεργοποίηση αυτής της λειτουργίας, το { -brand-short-name } υποστηρίζει τη μορφή JPEG XL (JXL). Πρόκειται για μια βελτιωμένη μορφή αρχείων εικόνας που υποστηρίζει τη μετάβαση από τα παραδοσιακά αρχεία JPEG χωρίς απώλειες. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1539075</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-api-inputmode =
    .label = Web API: inputmode
# "inputmode" and "contenteditable" are technical terms and shouldn't be translated.
experimental-features-web-api-inputmode-description = Η δική μας υλοποίηση της καθολικής ιδιότητας <a data-l10n-name="mdn-inputmode">inputmode</a> έχει ενημερωθεί βάσει της <a data-l10n-name="whatwg">προδιαγραφής WHATWG</a>, αλλά υπάρχουν κι άλλες αλλαγές που πρέπει να κάνουμε, όπως η διάθεση σε περιεχόμενο contenteditable. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1205133</a> για περισσότερες λεπτομέρειες.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Η προσθήκη κατασκευαστή στο περιβάλλον <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> καθώς και μια ποικιλία σχετικών αλλαγών καθιστούν δυνατή την απευθείας δημιουργία νέων φύλλων στυλ χωρίς να πρέπει να προσθέσετε το φύλλο στο HTML. Έτσι, γίνεται πολύ πιο εύκολη η δημιουργία επαναχρησιμοποιήσιμων φύλλων στυλ για το <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1520690</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-color-scheme-simulation =
    .label = Εργαλεία ανάπτυξης: Προσομοίωση συνόλου χρωμάτων
experimental-features-devtools-color-scheme-simulation-description = Προσθέτει μια επιλογή για προσομοίωση διαφορετικών μοτίβων χρωμάτων που σας επιτρέπουν να δοκιμάσετε τα media queries <a data-l10n-name="mdn-preferscolorscheme">@prefers-color-scheme</a>. Με αυτό το media query, το φύλλο στυλ σας μπορεί να αποκριθεί στην προτίμηση του χρήστη για φωτεινό ή σκούρο περιβάλλον χρήστη. Αυτή η λειτουργία σας επιτρέπει να δοκιμάσετε τον κώδικά σας χωρίς να πρέπει να αλλάξετε τις ρυθμίσεις στο πρόγραμμα περιήγησης (ή το λειτουργικό σύστημα, αν χρησιμοποιείται καθολικά η ρύθμιση των μοτίβων χρωμάτων του). Δείτε το <a data-l10n-name="bugzilla1">σφάλμα 1550804</a> και το <a data-l10n-name="bugzilla2">σφάλμα 1137699</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-execution-context-selector =
    .label = Εργαλεία ανάπτυξης: Επιλογή περιβάλλοντος εκτέλεσης
experimental-features-devtools-execution-context-selector-description = Αυτή η λειτουργία εμφανίζει ένα κουμπί στη γραμμή εντολών της κονσόλας που σας επιτρέπει να αλλάξετε το πλαίσιο στο οποίο θα εκτελεστεί η έκφραση που εισάγετε. Δείτε το <a data-l10n-name="bugzilla1">σφάλμα 1605154</a> και το <a data-l10n-name="bugzilla2">σφάλμα 1605153</a> για περισσότερες λεπτομέρειες.
experimental-features-devtools-compatibility-panel =
    .label = Εργαλεία ανάπτυξης: Πίνακας συμβατότητας
experimental-features-devtools-compatibility-panel-description = Ένας πλευρικός πίνακας για την Επιθεώρηση σελίδας που εμφανίζει πληροφορίες που περιγράφουν την κατάσταση συμβατότητας μεταξύ προγραμμάτων περιήγησης της εφαρμογής σας. Δείτε το <a data-l10n-name="bugzilla">σφάλμα 1584464 </a> για περισσότερες λεπτομέρειες.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax από προεπιλογή
experimental-features-cookie-samesite-lax-by-default2-description = Αντιμετώπιση των cookies ως «SameSite=Lax» από προεπιλογή αν δεν καθορίζεται η ιδιότητα «SameSite». Οι προγραμματιστές πρέπει να εγγραφούν στο τρέχον status quo της απεριόριστης χρήσης, δηλώνοντας ρητά ότι «SameSite=None».
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: Το SameSite=None απαιτεί την ιδιότητα «secure»
experimental-features-cookie-samesite-none-requires-secure2-description = Τα cookies με την ιδιότητα «SameSite=None» απαιτούν την ιδιότητα «secure». Αυτή η λειτουργία απαιτεί το «Cookies: SameSite=Lax από προεπιλογή».
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Κρυφή μνήμη εκκίνησης about:home
experimental-features-abouthome-startup-cache-description = Κρυφή μνήμη για το αρχικό έγγραφο about:home που φορτώνεται από προεπιλογή κατά την εκκίνηση. Ο σκοπός της κρυφής μνήμης είναι η βελτίωση της απόδοσης εκκίνησης.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Διαχείριση των cookies ίδιου τομέα αλλά διαφορετικού μοτίβου (π.χ. http://example.com και https://example.com) ως cookie μεταξύ ιστοτόπων αντί για cookies ίδιου ιστοτόπου. Βελτιώνει την ασφάλεια, αλλά ενδέχεται να προκαλέσει προβλήματα.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Εργαλεία ανάπτυξης: Έλεγχος σφαλμάτων service worker
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Ενεργοποιεί την πειραματική υποστήριξη για service worker στον πίνακα ελέγχου σφαλμάτων. Αυτή η δυνατότητα ενδέχεται να επιβραδύνει τα εργαλεία ανάπτυξης και να αυξήσει την κατανάλωση μνήμης.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Καθολικοί διακόπτες σίγασης WebRTC
experimental-features-webrtc-global-mute-toggles-description = Προσθήκη στοιχείων ελέγχου στον καθολικό δείκτη κοινής χρήσης WebRTC που επιτρέπει στους χρήστες να κάνουν καθολική σίγαση του μικροφώνου και της κάμεράς τους.
# Win32k Lockdown
experimental-features-win32k-lockdown =
    .label = Κλείδωμα Win32k
experimental-features-win32k-lockdown-description = Απενεργοποίηση χρήσης των Win32k API σε καρτέλες του προγράμματος περιήγησης. Παρέχει αυξημένη ασφάλεια, αλλά ενδέχεται να είναι ασταθές ή δυσλειτουργικό προς το παρόν. (μόνο για Windows)
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Ενεργοποίηση του Warp - ένα έργο για τη βελτίωση των επιδόσεων JavaScript και της χρήσης μνήμης.
# Fission is the name of the feature and should not be translated.
experimental-features-fission =
    .label = Fission (Απομόνωση ιστοτόπων)
experimental-features-fission-description = Το Fission (απομόνωση ιστοτόπων) είναι μια πειραματική λειτουργία στο { -brand-short-name }, ώστε να παρέχει ένα επιπλέον επίπεδο προστασίας από σφάλματα ασφαλείας. Απομονώνοντας τον κάθε ιστότοπο σε ξεχωριστή διεργασία, το Fission καθιστά δυσκολότερη την πρόσβαση κακόβουλων ιστοτόπων σε πληροφορίες άλλων σελίδων που επισκέπτεστε. Πρόκειται για μια μεγάλη αρχιτεκτονική αλλαγή στο { -brand-short-name } και θα το εκτιμούσαμε ιδιαίτερα αν δοκιμάζατε τη λειτουργία και αναφέρατε τυχόν ζητήματα. Για περισσότερες λεπτομέρειες, δείτε <a data-l10n-name="wiki">το wiki</a>.
# Support for having multiple Picture-in-Picture windows open simultaneously
experimental-features-multi-pip =
    .label = Υποστήριξη πολλαπλών παραθύρων εικόνας-εντός-εικόνας
experimental-features-multi-pip-description = Πειραματική υποστήριξη για άνοιγμα πολλαπλών παραθύρων εικόνας-εντός-εικόνας ταυτόχρονα.
# Search during IME
experimental-features-ime-search =
    .label = Γραμμή διευθύνσεων: εμφάνιση αποτελεσμάτων κατά τη σύνταξη IME
experimental-features-ime-search-description = Το IME (Input Method Editor) είναι ένα εργαλείο που σας επιτρέπει να εισαγάγετε περίπλοκα σύμβολα, όπως αυτά που χρησιμοποιούνται στις γλώσσες της Ανατολικής Ασίας ή της Ινδίας, με ένα τυπικό πληκτρολόγιο. Η ενεργοποίηση αυτού του πειράματος θα διατηρεί ανοικτή τη λίστα της γραμμής διευθύνσεων, εμφανίζοντας αποτελέσματα και προτάσεις αναζήτησης, κατά τη χρήση του IME για εισαγωγή κειμένου. Σημειώστε ότι το IME ενδέχεται να εμφανίσει ένα παράθυρο που καλύπτει τα αποτελέσματα της γραμμής διευθύνσεων, επομένως αυτή η προτίμηση προτείνεται μόνο για IME που δεν χρησιμοποιεί αυτό τον τύπο παραθύρου.
# Firefox 100
experimental-features-firefox-100 =
    .label = Αλφαριθμητικό πράκτορα χρήστη του { -brand-product-name } 100
experimental-features-firefox-100-description = Το { -brand-short-name } στέλνει σε ιστοτόπους μια συμβολοσειρά πράκτορα χρήστη για την έκδοση 100 του { -brand-product-name }. Χρησιμοποιήστε αυτήν τη ρύθμιση για να δείτε εάν οι ιστότοποι θα δυσλειτουργούν όταν το { -brand-short-name } φτάσει σε τριψήφιο αριθμό έκδοσης. Το πραγματικό { -brand-product-name } 100 πρόκειται να κυκλοφορήσει τον Μάιο του 2022, οπότε αρχίστε να δοκιμάζετε τους ιστοτόπους σας τώρα!
