# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Bienvenido a { -brand-full-name }
account-settings = Configuraciones de la cuenta
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Elegir qué configurar
        [one] Configurar otra cuenta
       *[other] Configurar otra cuenta
    }
about-title = Acerca de { -brand-full-name }
resources-title = Recursos
release-notes =
    .title = Acerca de { -brand-full-name }
email-label = Correo electrónico
    .aria-label = Conectar a su cuenta de correo electrónico existente
email-description = { -brand-short-name } le permite conectarse a su cuenta de correo electrónico existente para leer sus correos electrónicos de manera conveniente y eficiente desde la aplicación.
calendar-label = Calendario
    .aria-label = Crear un calendario nuevo
calendar-description = { -brand-short-name } le permite manejar eventos y lo mantiene organizado. Conectarse a un calendario remoto mantendrá todos sus eventos sincronizados en todos sus dispositivos.
chat-label = Chat
    .aria-label = Conectarse con su cuenta de chat
chat-description = { -brand-short-name } le permite conectarte a múltiples cuentas de mensajería instantánea y  ofrece compatibilidad para varias plataformas.
filelink-label = Filelink
    .aria-label = Configurar Filelink
filelink-description = { -brand-short-name } tçle permite configurar una práctica cuenta  de enlace de archivos en la nube para enviar fácilmente archivos adjuntos de gran tamaño.
addressbook-label = Libreta de direcciones
    .aria-label = Crear una nueva Libreta de direcciones
addressbook-description = { -brand-short-name } le permite organizar todos  s us contactos en una libreta de direcciones. También puede conectarse con una libreta de direcciones remota para mantener todos sus contactos sincronizados.
feeds-label = Canales
    .aria-label = Conectarse con canales
feeds-description = { -brand-short-name } le permite conectarse a canales RSS/Atom para obtener noticias y actualizaciones de todo el mundo.
newsgroups-label = Grupos de noticias
    .aria-label = Conectarse con un grupo de noticias
newsgroups-description = { -brand-short-name } le permite conectarte a todos los grupos de noticias que desee.
import-title = Importar desde otro programa
import-paragraph = { -brand-short-name } le permite importar mensajes de correo, entradas de la libreta de direcciones, suscripciones de canales, preferencias y/o filtros de otros programas de correo y formatos comunes de libreta de direcciones.
import-paragraph2 = { -brand-short-name } le permite importar mensajes de correo, entradas de la libreta de direcciones, suscripciones de canales, configuración y/o filtros de otros programas de correo y formatos comunes de libreta de direcciones.
import-label = Importar
    .aria-label = Importar datos de otros programas
about-paragraph = Thunderbird es el lider en clientes de correo electrónico y calendario para todas las plataformas de código abierto, gratuito, tanto para el uso empresarial como el personal. Queremos mantenerlo seguro y que sea aún mejor. Una donación nos va a permitir contratar desarrolladores, pagar por la infraestructura y continuar mejorando.
about-paragraph-consider-donation = <strong>¡Thunderbird está financiado por usuarios como usted! Si le gusta Thunderbird, por favor considere hacer una donación</strong> La mejor manera de asegurar su supervivencia es <a class="more" href="%(donate)s">donando.</a>
explore-link = Explore las funciones
support-link = Ayuda
involved-link = Involúcrese
developer-link = Documentación para desarrolladores
read = Mensajes leídos
compose = Redactar un mensaje nuevo
search = Buscar mensajes
filter = Administrar filtros de mensajes
nntp-subscription = Administrar suscripciones a grupos de noticias
rss-subscription = Administrar suscripciones a canales
e2e = Cifrado de extremo a extremo
