# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Välkommen till { -brand-full-name }
account-settings = Kontoinställningar
#   $accounts (Number) - the number of configured accounts
setup-title = Välj vad du vill konfigurera
about-title = Om { -brand-full-name }
resources-title = Resurser
release-notes =
    .title = Om { -brand-full-name }
email-label = E-post
    .aria-label = Anslut till ditt befintliga e-postkonto
email-description = { -brand-short-name } låter dig ansluta till ditt befintliga e-postkonto, läsa dina e-postmeddelanden bekvämt och effektivt från applikationen.
calendar-label = Kalender
    .aria-label = Skapa en ny kalender
calendar-description = { -brand-short-name } låter dig hantera händelser och håller dig organiserad. Om du ansluter till en fjärrkalender kommer alla dina händelser att synkroniseras på alla dina enheter.
chat-label = Chatt
    .aria-label = Anslut till ditt chattkonto
chat-description = { -brand-short-name } låter dig ansluta till flera snabbmeddelandekonton och erbjuder support för olika plattformar.
filelink-label = Filelink
    .aria-label = Konfigurera Filelink
filelink-description = { -brand-short-name } låter dig skapa ett bekvämt molnkonto för att enkelt skicka stora bilagor med Filelink.
addressbook-label = Adressbok
    .aria-label = Skapa en ny adressbok
addressbook-description = { -brand-short-name } låter dig organisera alla dina kontakter i en adressbok. Du kan också ansluta till en fjärradressbok för att synkronisera alla dina kontakter.
feeds-label = RSS-flöden
    .aria-label = Anslut till flöden
feeds-description = { -brand-short-name } låter dig ansluta till RSS/Atom-flöden för att få nyheter och uppdateringar från hela världen.
newsgroups-label = Diskussionsgrupper
    .aria-label = Anslut till en diskussionsgrupp
newsgroups-description = { -brand-short-name } låter dig ansluta till alla diskussionsgrupper som du vill.
import-title = Importera från ett annat program
import-paragraph = { -brand-short-name } låter dig importera e-postmeddelanden, adressboksposter, flödesprenumerationer, inställningar och/eller filter från andra e-postprogram och vanliga adressboksformat.
import-paragraph2 = { -brand-short-name } låter dig importera e-postmeddelanden, adressboksposter, RSS-prenumerationer, inställningar och/eller filter från andra e-postprogram och vanliga adressboksformat.
import-label = Importera
    .aria-label = Importera data från andra program
about-paragraph = Thunderbird är den ledande plattformsoberoende e-post och kalenderklienten baserad på öppen källkod, gratis för företag och personligt bruk. Vi vill att den ska vara säker och bli ännu bättre. En donation tillåter oss att anställa utvecklare, betala för infrastruktur och fortsätta att förbättra.
about-paragraph-consider-donation = <b>Thunderbird finansieras av användare som du! Om du gillar Thunderbird kan du överväga att göra en donation.</b> Det bästa sättet för dig att se till att Thunderbird förblir tillgängligt är att <a data-l10n-name="donation-link">göra en donation</a>.
explore-link = Utforska funktioner
support-link = Hjälp
involved-link = Engagera dig
developer-link = Dokumentation för utvecklare
read = Lästa meddelanden
compose = Skriv ett nytt meddelande
search = Sök efter meddelanden
filter = Hantera meddelandefilter
nntp-subscription = Hantera prenumerationer på diskussionsgrupper
rss-subscription = Hantera RSS-prenumerationer
e2e = End-to-end kryptering
