# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = プライベートウィンドウを開く
    .accesskey = P
about-private-browsing-search-placeholder = ウェブ検索
about-private-browsing-info-title = プライベートウィンドウです
about-private-browsing-info-myths = プライベートブラウジングに共通する話題
about-private-browsing-search-btn =
    .title = ウェブ検索
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = { $engine } で検索、または URL を入力します
about-private-browsing-handoff-no-engine =
    .title = 検索語句、または URL を入力します
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = { $engine } で検索、または URL を入力します
about-private-browsing-handoff-text-no-engine = 検索語句、または URL を入力します
about-private-browsing-not-private = これはプライベートウィンドウではありません。
about-private-browsing-info-description = ブラウザーを終了するかプライベートブラウジングのタブとウィンドウをすべて閉じると、検索履歴と閲覧履歴を消去します。ウェブサイトとインターネットサービスプロバイダーに対しては匿名化されません。このコンピューターを使う他のユーザーからあなたのオンラインでのプライベートを守るのに役立ちます。

about-private-browsing-need-more-privacy = より厳重なプライバシーが必要ですか？
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } をお試しください

about-private-browsing-info-description-private-window = プライベートウィンドウ: { -brand-short-name } はプライベートウィンドウをすべて閉じると、検索履歴と閲覧履歴を消去します。匿名化はしません。
about-private-browsing-info-description-simplified = { -brand-short-name } はプライベートウィンドウをすべて閉じると、検索履歴と閲覧履歴を消去しますが、匿名化されているわけではありません。
about-private-browsing-learn-more-link = 詳細情報

about-private-browsing-hide-activity = あなたの行動と訪問先のすべてを秘匿します
about-private-browsing-get-privacy = どこでもプライバシーを確保
about-private-browsing-hide-activity-1 = { -mozilla-vpn-brand-name } であなたの行動と訪問先を秘匿できます。公共 Wi-Fi でもクリックひとつで安全な接続を確保できます。
about-private-browsing-prominent-cta = { -mozilla-vpn-brand-name } でプライバシーを確保

# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } はプライベートウィンドウでの既定の検索エンジンです
about-private-browsing-search-banner-description = {
  PLATFORM() ->
     [windows] 別の検索エンジンを選択するには、<a data-l10n-name="link-options">オプション</a>を開いてください。
    *[other] 別の検索エンジンを選択するには、<a data-l10n-name="link-options">設定</a>を開いてください。
  }
about-private-browsing-search-banner-close-button =
    .aria-label = 閉じる

about-private-browsing-dismiss-button =
    .title = 閉じる
