# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Bienvenido a { -brand-full-name }
account-settings = Configuración de la cuenta
#   $accounts (Number) - the number of configured accounts
setup-title = Elija qué configurar
about-title = Acerca de { -brand-full-name }
resources-title = Recursos
release-notes =
    .title = Acerca de { -brand-full-name }
email-label = Correo
    .aria-label = Conectar con su cuenta de correo existente
email-description = { -brand-short-name } le permite conectar con su cuenta de correo existente, para leer sus mensajes cómoda y eficientemente desde la aplicación.
calendar-label = Calendario
    .aria-label = Crear un calendario nuevo
calendar-description = { -brand-short-name } le permite manejar eventos y le mantiene organizado. Conectar con un calendario remoto hara que todos sus eventos estén sincronizados en todos sus dispositivos.
chat-label = Chat
    .aria-label = Conectar con su cuenta de chat
chat-description = { -brand-short-name } le permite conectarse a múltiples cuentas de mensajería instantánea, ofreciendo compatibilidad con varias plataformas.
filelink-label = Filelink
    .aria-label = Configurar Filelink
filelink-description = { -brand-short-name } le permite configurar una práctica cuenta de enlace con archivos en la nube para enviar fácilmente adjuntos de gran tamaño.
addressbook-label = Libreta de direcciones
    .aria-label = Crear una libreta de direcciones nueva
addressbook-description = { -brand-short-name } le permite organizar todos sus contactos en una libreta de direcciones. También puede conectar con una libreta de direcciones remota para conservar todos sus contactos sincronizados.
feeds-label = Canales
    .aria-label = Conectar con canales
feeds-description = { -brand-short-name } le permite conectarse a canales RSS/Atom para obtener noticias y actualizaciones de todo tipo.
newsgroups-label = Grupos de noticias
    .aria-label = Conectar con grupos de noticias
newsgroups-description = { -brand-short-name } le permite conectar con todos los grupos de noticias que quiera.
import-title = Importar de otro programa
import-paragraph = { -brand-short-name } le permite importar mensajes de correo, entradas de libretas de direcciones, suscripciones a canales, preferencias y filtros de otros programas de correo y formatos comunes de libretas de direcciones.
import-paragraph2 = { -brand-short-name } le permite importar mensajes de correo, entradas de libretas de direcciones, suscripciones a canales, ajustes y filtros de otros programas de correo y formatos comunes de libretas de direcciones.
import-label = Importar
    .aria-label = Importar datos de otros programas
about-paragraph = Thunderbird es el cliente líder de código abierto y multiplataforma de correo y calendario, libre tanto para uso personal como profesional. Queremos que siga siendo seguro y cada día mejor. Una donación nos permitirá contratar desarrolladores, pagar infraestructura y continuar mejorando.
about-paragraph-consider-donation = <b>Thunderbird está financiado por usuarios como usted! Si le gusta Thunderbird, considere hacer una donación.</b> La mejor manera de asegurar que Thunderbird continúa disponible es <a data-l10n-name="donation-link">hacer una donación</a>.
explore-link = Explorar características
support-link = Asistencia
involved-link = Involucrarse
developer-link = Documentación para desarrolladores
read = Leer mensajes
compose = Escribir un mensaje nuevo
search = Buscar mensajes
filter = Administrar filtros de mensajes
nntp-subscription = Administrar suscripciones de grupos de noticias
rss-subscription = Administrar suscripciones de canales
e2e = Cifrado de extremo a extremo
