# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Witamy w programie { -brand-full-name }
account-settings = Ustawienia konta
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Wybierz, co skonfigurować
       *[other] Skonfiguruj następne konto
    }
about-title = O programie { -brand-full-name }
resources-title = Więcej informacji
release-notes =
    .title = O programie { -brand-full-name }
email-label = Poczta
    .aria-label = Połącz z istniejącym kontem poczty e-mail
email-description = { -brand-short-name } umożliwia połączenie z istniejącym kontem poczty e-mail, aby wygodnie i sprawnie czytać wiadomości w aplikacji.
calendar-label = Kalendarz
    .aria-label = Utwórz nowy kalendarz
calendar-description = { -brand-short-name } umożliwia zarządzanie wydarzeniami i utrzymanie porządku. Połączenie ze zdalnym kalendarzem pozwoli na synchronizację wydarzeń na wszystkich swoich urządzeniach.
chat-label = Komunikator
    .aria-label = Połącz się z kontem komunikatora
chat-description = { -brand-short-name } umożliwia połączenie się z wieloma kontami komunikatorów dzięki obsłudze różnych platform.
filelink-label = Serwis przechowywania plików
    .aria-label = Skonfiguruj serwis przechowywania plików
filelink-description = { -brand-short-name } umożliwia skonfigurowanie wygodnego konta w serwisie przechowywania plików, aby łatwo wysyłać duże załączniki.
addressbook-label = Książka adresowa
    .aria-label = Utwórz nową książkę adresową
addressbook-description = { -brand-short-name } umożliwia uporządkowanie wszystkich kontaktów w książce adresowej. Można także połączyć się ze zdalną książką adresową, aby synchronizować swoje kontakty.
feeds-label = Aktualności
    .aria-label = Połącz się ze źródłami aktualności
feeds-description = { -brand-short-name } umożliwia połączenie się ze źródłami aktualności RSS/Atom, aby otrzymywać wiadomości z całego świata.
newsgroups-label = Grupy dyskusyjne
    .aria-label = Połącz się z grupą dyskusyjną
newsgroups-description = { -brand-short-name } umożliwia połączenie się ze wszystkimi grupami dyskusyjnymi.
import-title = Import z innego programu
import-paragraph = { -brand-short-name } umożliwia zaimportowanie wiadomości, wpisów książki adresowej, subskrypcji aktualności, preferencji i filtrów z innych programów pocztowych i popularnych formatów książek adresowych.
import-paragraph2 = { -brand-short-name } umożliwia zaimportowanie wiadomości, wpisów książki adresowej, subskrypcji aktualności, ustawień i filtrów z innych programów pocztowych i popularnych formatów książek adresowych.
import-label = Importuj
    .aria-label = Importuj dane z innych programów
about-paragraph = Thunderbird to wiodący międzyplatformowy klient poczty i kalendarza open source, bezpłatny dla przedsiębiorstw i użytku osobistego. Chcemy, aby nadal był bezpieczny i stał się jeszcze lepszy. Datek umożliwi nam zatrudnienie programistów, opłacenie infrastruktury i kontynuowanie ulepszania programu.
about-paragraph-consider-donation = <b>Thunderbird jest finansowany przez użytkowników takich jak Ty! Jeśli lubisz Thunderbirda, to prosimy rozważyć jego wsparcie.</b> Najlepszym sposobem na zapewnienie, aby Thunderbird był zawsze dostępny jest <a data-l10n-name="donation-link">przekazanie datku</a>.
explore-link = Odkrywaj możliwości
support-link = Pomoc
involved-link = Dołącz do nas
developer-link = Dokumentacja dla programistów
read = Przeczytaj wiadomości
compose = Napisz nową wiadomość
search = Wyszukaj wiadomości
filter = Zarządzaj filtrami wiadomości
nntp-subscription = Subskrybuj grupę dyskusyjną
rss-subscription = Subskrybuj aktualności
e2e = Szyfrowanie „end-to-end”
