# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Uzyskaj nowy adres e-mail od dostawcy
provisioner-searching-icon =
    .alt = Wyszukiwanie…
account-provisioner-title = Utwórz nowy adres e-mail
account-provisioner-description = Skorzystaj z usług naszych zaufanych partnerów, aby uzyskać nowy prywatny i bezpieczny adres e-mail.
account-provisioner-start-help = Wyszukiwane słowa są wysyłane do organizacji { -vendor-short-name } (<a data-l10n-name="mozilla-privacy-link">zasady ochrony prywatności</a>) oraz zewnętrznych dostawców usług pocztowych <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">zasady ochrony prywatności</a>, <a data-l10n-name="mailfence-tou-link">warunki korzystania</a>) i <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">zasady ochrony prywatności</a>, <a data-l10n-name="gandi-tou-link">warunki korzystania</a>) w celu wyszukania dostępnych adresów e-mail.
account-provisioner-mail-account-title = Kup nowy adres e-mail
account-provisioner-mail-account-description = Thunderbird nawiązał współpracę z firmą <a data-l10n-name="mailfence-home-link">Mailfence</a>, aby zaoferować nowy prywatny i bezpieczny adres e-mail. Uważamy, że każdy powinien mieć dostęp do bezpiecznej skrzynki.
account-provisioner-domain-title = Kup e-mail i własną domenę
account-provisioner-domain-description = Thunderbird nawiązał współpracę z firmą <a data-l10n-name="gandi-home-link">Gandi</a>, aby zaoferować Ci własną domenę. Dzięki temu można korzystać z dowolnego adresu w tej domenie.

## Forms

account-provisioner-mail-input =
    .placeholder = Twoje imię i nazwisko, pseudonim lub inne słowo do wyszukania
account-provisioner-domain-input =
    .placeholder = Twoje imię i nazwisko, pseudonim lub inne słowo do wyszukania
account-provisioner-search-button = Szukaj
account-provisioner-button-cancel = Anuluj
account-provisioner-button-existing = Użyj istniejącego konta e-mail
account-provisioner-button-back = Wstecz

## Notifications

account-provisioner-fetching-provisioners = Pobieranie dostawców…
account-provisioner-connection-issues = Nie można skontaktować się z naszymi serwerami zakładania kont. Proszę sprawdzić połączenie internetowe.
account-provisioner-searching-email = Wyszukiwanie dostępnych kont e-mail…
account-provisioner-searching-domain = Wyszukiwanie dostępnych domen…
account-provisioner-searching-error = Nie można odnaleźć żadnych adresów do zaproponowania. Spróbuj zmienić wyszukiwane słowa.

## Illustrations

account-provisioner-step1-image =
    .title = Wybierz konto do utworzenia

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Odnaleziono jeden dostępny adres dla:
        [few] Odnaleziono { $count } dostępne adresy dla:
       *[many] Odnaleziono { $count } dostępnych adresów dla:
    }
account-provisioner-mail-results-caption = Można spróbować wyszukać pseudonimy lub inne słowa, aby znaleźć więcej dostępnych adresów.
account-provisioner-domain-results-caption = Można spróbować wyszukać pseudonimy lub inne słowa, aby znaleźć więcej dostępnych domen.
account-provisioner-free-account = Darmowe
account-provision-price-per-year = { $price } rocznie
account-provisioner-all-results-button = Wyświetl wszystkie wyniki
account-provisioner-open-in-tab-img =
    .title = Otwiera w nowej karcie
