# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Privát ablak megnyitása
    .accesskey = P
about-private-browsing-search-placeholder = Keresés a weben
about-private-browsing-info-title = Jelenleg privát ablakban van
about-private-browsing-info-myths = Gyakori tévhitek a privát böngészésről
about-private-browsing-search-btn =
    .title = Keresés a weben
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Keressen a(z) { $engine } keresővel vagy adjon meg egy címet
about-private-browsing-handoff-no-engine =
    .title = Keressen, vagy adjon meg címet
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Keressen a(z) { $engine } keresővel vagy adjon meg egy címet
about-private-browsing-handoff-text-no-engine = Keressen, vagy adjon meg címet
about-private-browsing-not-private = Jelenleg nem privát ablakot használ.
about-private-browsing-info-description = A { -brand-short-name } törli a keresési és böngészési előzményeit, ha kilép az alkalmazásból, vagy bezárja az összes privát böngészési lapot és ablakot. Ugyan ez nem teszi névtelenné a weboldalak vagy a szolgáltatója felé, könnyebbé teszi, hogy bizalmasan kezelje az online tevékenységét, és más ne tudjon róla, aki ezt a számítógépet használja.
about-private-browsing-need-more-privacy = Több adatvédelemre van szüksége?
about-private-browsing-turn-on-vpn = Próbálja ki a { -mozilla-vpn-brand-name }-t
about-private-browsing-info-description-private-window = Privát ablak: a { -brand-short-name } törli a keresési és böngészési előzményeket, amikor bezárja az összes privát ablakot. Ez nem teszi névtelenné.
about-private-browsing-info-description-simplified = A { -brand-short-name } törli a keresési és böngészési előzményeket, amikor bezárja az összes privát ablakot, de ez nem teszi névtelenné.
about-private-browsing-learn-more-link = További tudnivalók
about-private-browsing-hide-activity = Rejtse el tevékenységét és tartózkodási helyét, bárhol is böngésszen
about-private-browsing-get-privacy = Szerezzen adatvédelmet, bárhol is böngésszen
about-private-browsing-hide-activity-1 = Rejtse el a böngészési tevékenységét és a tartózkodási helyét a { -mozilla-vpn-brand-name } használatával. Egy kattintással biztonságos kapcsolatot hozhat létre, még nyilvános Wi-Fin is.
about-private-browsing-prominent-cta = Maradjon privát a { -mozilla-vpn-brand-name } használatával
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = A(z) { $engineName } az alapértelmezett keresőszolgáltatás a privát ablakokban
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Másik keresőszolgáltatás kiválasztásához ugorjon a <a data-l10n-name="link-options">Beállításokhoz</a>
       *[other] Másik keresőszolgáltatás kiválasztásához ugorjon a <a data-l10n-name="link-options">Beállításokhoz</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Bezárás
about-private-browsing-dismiss-button =
    .title = Eltüntetés
