# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Buka Jendela Pribadi
    .accesskey = P
about-private-browsing-search-placeholder = Cari di Web
about-private-browsing-info-title = Anda berada di Jendela Pribadi
about-private-browsing-info-myths = Mitos umum tentang penjelajahan pribadi
about-private-browsing-search-btn =
    .title = Cari di web
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Cari lewat { $engine } atau masukkan alamat
about-private-browsing-handoff-no-engine =
    .title = Cari atau masukkan alamat
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Cari lewat { $engine } atau masukkan alamat
about-private-browsing-handoff-text-no-engine = Cari atau masukkan alamat
about-private-browsing-not-private = Anda tidak sedang dalam jendela pribadi.
about-private-browsing-info-description = { -brand-short-name } menghapus riwayat penjelajahan dan pencarian saat keluar dari aplikasi atau saat menutup semua tab dan jendela Penjelajahan Pribadi. Meskipun hal ini tidak membuat Anda menjadi anonim dalam situs web atau penyedia layanan internet, hal ini mempermudah Anda untuk menjaga apa yang Anda lakukan secara online agar tetap pribadi dari siapa pun yang menggunakan komputer ini.
about-private-browsing-need-more-privacy = Butuh privasi lebih?
about-private-browsing-turn-on-vpn = Coba { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Jendela pribadi: { -brand-short-name } menghapus riwayat pencarian dan penjelajahan saat Anda menutup semua jendela pribadi. Ini tidak membuat Anda anonim.
about-private-browsing-info-description-simplified = { -brand-short-name } membersihkan riwayat pencarian dan penjelajahan Anda ketika Anda menutup semua jendela privat, namun tidak membuat Anda terlihat anonim.
about-private-browsing-learn-more-link = Pelajari lebih lanjut
about-private-browsing-hide-activity = Sembunyikan aktivitas dan lokasi Anda, di mana pun Anda menjelajah
about-private-browsing-get-privacy = Dapatkan perlindungan privasi di mana pun saat Anda menjelajah
about-private-browsing-hide-activity-1 = Sembunyikan aktivitas dan lokasi penjelajahan dengan { -mozilla-vpn-brand-name }. Satu klik menciptakan koneksi aman, bahkan di Wi-Fi publik.
about-private-browsing-prominent-cta = Jaga privasi dengan { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } adalah mesin pencari baku Anda di dalam Jendela Pribadi.
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Untuk memilih mesin pencari yang berbeda, buka <a data-l10n-name="link-options">Pengaturan</a>
       *[other] Untuk memilih mesin pencari yang berbeda, buka <a data-l10n-name="link-options">Pengaturan</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Tutup
about-private-browsing-dismiss-button =
    .title = Tutup
