# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Eike Window ovetã Ñemíme
    .accesskey = P
about-private-browsing-search-placeholder = Eheka ñandutípe
about-private-browsing-info-title = Eikehína ovetã ñemíme
about-private-browsing-info-myths = Mombe’uguau kundaha ñemi rehegua
about-private-browsing-search-btn =
    .title = Eheka ñandutípe
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Eheka { $engine } ndive térã emoinge kundaharape
about-private-browsing-handoff-no-engine =
    .title = Eheka térã ehai kundaharape
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Eheka { $engine } ndive térã emoinge kundaharape
about-private-browsing-handoff-text-no-engine = Eheka térã ehai kundaharape
about-private-browsing-not-private = Ko’ag̃aite nereiméi peteĩ ovetã ñemíme.
about-private-browsing-info-description = { -brand-short-name } ombogue jeheka ha kundaha rembiasakue esẽvo tembipuru’ígui térã embotykuévo opaite ovetã ha tendayke kundaha ñemi rehegua. Kóva nandekuaukáiramo jepe ñanduti rendápe térã ne ñanduti me’ẽhárape g̃uarã, nombohasýi eime ñemi hag̃ua ñandutípe opaite tapicha oipurúva ko mohendaha renondépe.
about-private-browsing-need-more-privacy = ¿Eikotevẽvépa ñemigua?
about-private-browsing-turn-on-vpn = Eipuru { -mozilla-vpn-brand-name }
about-private-browsing-info-description-private-window = Ovetã ñemiguáva { -brand-short-name } ombogue jeheka rembiasakue ha ñeikundaha embotypa vove opaite ovetã ñemiguáva. Kóva noñomíri apoharépe.
about-private-browsing-info-description-simplified = { -brand-short-name } ombogue jeheka rembiasakue ha ñeikundaha embotypávo ovetãnguéra ñemigua, hákatu kóva noñomíri apoharépe.
about-private-browsing-learn-more-link = Kuaave
about-private-browsing-hide-activity = Eñomi tembiapo ha tendaite, oimeraẽva tenda eikundahahápe
about-private-browsing-get-privacy = Erekóke ñemigua ñemo’ã eikundaha vove
about-private-browsing-hide-activity-1 = Eñomi ñeikundaha rapykuere ha tendaite { -mozilla-vpn-brand-name } ndive. Eikutúvo emoheñóita jeike katu, oĩhápe Wi-Fi opavave oipurukuaáva.
about-private-browsing-prominent-cta = Eiko tekoñemíme { -mozilla-vpn-brand-name } ndive
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } ha’e jehekaha mongu’eha ijypykuéva ovetã ñemíme
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Eiporavo hag̃ua jeheka mongu’eha ambuéva, tereho <a data-l10n-name="link-options">Jeporavorã</a>
       *[other] Eiporavo hag̃ua jeheka mongu’eha ambuéva, tereho <a data-l10n-name="link-options">Jerohoryvéva</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Mboty
about-private-browsing-dismiss-button =
    .title = Mboyke
