# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

privatebrowsingpage-open-private-window-label = Priwatne wokno wócyniś
    .accesskey = P
about-private-browsing-search-placeholder = Web pśepytaś
about-private-browsing-info-title = Sćo w priwatnem woknje
about-private-browsing-info-myths = Ceste myty wó priwatnem modusu
about-private-browsing-search-btn =
    .title = Web pśepytaś
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff =
    .title = Pytajśo z { $engine } abo zapódajśo adresu
about-private-browsing-handoff-no-engine =
    .title = Pytaś abo adresu zapódaś
# Variables
#  $engine (String): the name of the user's default search engine
about-private-browsing-handoff-text = Pytajśo z { $engine } abo zapódajśo adresu
about-private-browsing-handoff-text-no-engine = Pytaś abo adresu zapódaś
about-private-browsing-not-private = Tuchylu njejsćo w priwatnem woknje.
about-private-browsing-info-description = { -brand-short-name } wašu pytańsku a pśeglědowańsku historjiu wuproznijo, gaž nałoženje spušćijośo abo wšykne rejtariki a wokna priwatnego modus zacynijośo. Pšez to se wólažcyjo, pśed drugimi, kótarež toś to licadło wužywaju, schowaś, což online gótujośo, lěcrownož to was za websedła abo wašogo póbitowarja internetneje słužby njeanonymizěrujo.
about-private-browsing-need-more-privacy = Trjebaśo wěcej priwatnosći?
about-private-browsing-turn-on-vpn = { -mozilla-vpn-brand-name } wopytaś
about-private-browsing-info-description-private-window = Priwatne wokno: { -brand-short-name } wašu pytańsku a pśeglědowańsku historiju lašujo, gaž wšykne priwatne wokna zacynjaśo. Pśez to njebuźośo anonymny.
about-private-browsing-info-description-simplified = { -brand-short-name } wašu pytańsku a pśeglědowańsku historiju lašujo, gaž wšykne priwatne wokna zacynjaśo, ale pśez to njebuźośo anonymny.
about-private-browsing-learn-more-link = Dalšne informacije
about-private-browsing-hide-activity = Schowajśo swóju aktiwitu a stojnišćo, źožkuli wobglědowak wužywaśo
about-private-browsing-get-privacy = Wobstarajśo se šćit priwatnosći wšuźi, źož pśeglědujośo
about-private-browsing-hide-activity-1 = Schowajśo pśeglědowańsku aktiwitu a stojnišćo z { -mozilla-vpn-brand-name }. Z jadnym kliknjenim napórajośo zwisk, samo w zjawnem WLAN:
about-private-browsing-prominent-cta = Šćitajśo swóju priwatnosć z { -mozilla-vpn-brand-name }
# This string is the title for the banner for search engine selection
# in a private window.
# Variables:
#   $engineName (String) - The engine name that will currently be used for the private window.
about-private-browsing-search-banner-title = { $engineName } jo waša standardna pytnica w priwatnych woknach
about-private-browsing-search-banner-description =
    { PLATFORM() ->
        [windows] Aby drugu pytnicu wubrał, źiśo k <a data-l10n-name="link-options">nastajenjam</a>
       *[other] Aby drugu pytnicu wubrał, źiśo k <a data-l10n-name="link-options">nastajenjam</a>
    }
about-private-browsing-search-banner-close-button =
    .aria-label = Zacyniś
about-private-browsing-dismiss-button =
    .title = Zachyśiś
